frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/libcocos2d Mac.xcscheme
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/libcocos2d iOS.xcscheme
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/libluacocos2d Mac.xcscheme
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/libluacocos2d iOS.xcscheme
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/libsimulator Mac.xcscheme
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/libsimulator iOS.xcscheme
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/project.xcworkspace/xcshareddata/project_wly2_lua_client.xccheckout
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/project_c-desktop.xcscheme
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/project_c-mobile.xcscheme
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/libluacocos2d Mac.xcscheme
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/libluacocos2d iOS.xcscheme
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/libsimulator Mac.xcscheme
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/libsimulator iOS.xcscheme
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/project.xcworkspace/xcuserdata/hzd822.xcuserdatad/UserInterfaceState.xcuserstate
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/project_c-desktop.xcscheme
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/project_c-mobile.xcscheme
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/hzd822.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Release.win32/*
frameworks/cocos2d-x/cocos/platform/android/java/bin/*
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/*
frameworks/runtime-src/proj.win32/.vs/project_wly2_lua_client/v14/.suo
frameworks/runtime-src/proj.ios_mac/.DS_Store
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/project.xcworkspace/xcuserdata/zhanghaidong.xcuserdatad/
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/xcuserdata/zhanghaidong.xcuserdatad/
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/project.pbxproj
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/
frameworks/runtime-src/proj.win32/Debug.win32/*
frameworks/cocos2d-x/cocos/2d/Debug.win32/*
frameworks/cocos2d-x/cocos/2d/Release.win32/*
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/*
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Release.win32/*
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*
frameworks/cocos2d-x/external/Box2D/proj.win32/Release.win32/*
frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/*
frameworks/cocos2d-x/external/bullet/proj.win32/Release.win32/*
frameworks/cocos2d-x/external/recast/proj.win32/Release.win32/*
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32/*
frameworks/runtime-src/.DS_Store
frameworks/runtime-src/Classes/.DS_Store
cocosstudio/img/icon/Thumbs.db
cocosstudio/ui/.DS_Store
src/app/.DS_Store
cocosstudio/img/.DS_Store
frameworks/cocos2d-x/cocos/platform/android/ControllerManualAdapter/
frameworks/runtime-src/proj.android/assets/res/
frameworks/runtime-src/proj.android/assets/src/
frameworks/runtime-src/proj.android/assets/config.json
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/gen/R.java.d
frameworks/runtime-src/proj.android/gen/comm/uqee/demo/BuildConfig.java
frameworks/runtime-src/proj.android/gen/comm/uqee/demo/R.java
frameworks/runtime-src/proj.android/libs/armeabi/
frameworks/runtime-src/proj.android/obj/
.DS_Store
cocosstudio/.DS_Store
res/img/.DS_Store
project_wly2_lua_client.ccs
project_wly2_lua_client.cfg
project_wly2_lua_client.udf
src/.tags
src/.tags_sorted_by_file
res/img/.DS_Store
simulator/*
frameworks/runtime-src/proj.ios_mac/project_wly2_lua_client.xcodeproj/project.pbxproj
frameworks/runtime-src/java/bin/classes/
frameworks/runtime-src/java/gen/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/java/bin/
publish/android/
frameworks/cocos2d-x/build/build/
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build/
frameworks/runtime-src/prebuild/
frameworks/runtime-src/proj.android-studio/.idea/
frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.android-studio/app/obj/
frameworks/runtime-src/proj.android-studio/proj.android-studio.iml
frameworks/runtime-src/proj.ios_sdk/
output/
srcbak
frameworks/runtime-src/proj.ios_sdk/build
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{hmpay_ios}.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{hmpay_ios}.xcodeproj/project.xcworkspace/xcuserdata
frameworks/runtime-src/proj.ios_sdk/ios/Yijie/hmpay_ios
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{aisi_ios}.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{aisi_ios}.xcodeproj/project.xcworkspace/xcuserdata
frameworks/runtime-src/proj.ios_sdk/ios/Yijie/aisi_ios
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{itools_ios}.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{itools_ios}.xcodeproj/project.xcworkspace/xcuserdata
frameworks/runtime-src/proj.ios_sdk/ios/Yijie/itools_ios
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client.xcodeproj/project.xcworkspace/xcuserdata
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
libcocos2dx.iml
frameworks/runtime-src/proj.android-studio/.idea
frameworks/runtime-src/proj.android-studio/app/assets
libcocos2dlua.so
project_swordsman_client.iml
frameworks/runtime-src/proj.android-studio/app/obj
proj.android-studio.iml
publish/android/
frameworks/cocos2d-x/build/build/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build/
frameworks/runtime-src/proj.ios_sdk/ios/Yijie/guopan_ios
frameworks/runtime-src/proj.ios_sdk/ios/Yijie/kuaiyong_ios
frameworks/runtime-src/proj.ios_sdk/ios/Yijie/xiaoqi_ios
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{xiaoqi_ios}.xcodeproj
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{itools_ios}.xcodeproj
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{kuaiyong_ios}.xcodeproj
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{guopan_ios}.xcodeproj
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{hmpay_ios}.xcodeproj
frameworks/runtime-src/proj.ios_sdk/project_wly2_lua_client{aisi_ios}.xcodeproj
frameworks/runtime-src/proj.android-studio/app/libs/armeabi-v7a/libBugly.so
frameworks/runtime-src/proj.android-studio/app/mengxin.iml
src_bak/
frameworks/runtime-src/proj.android-studio/app/libs/armeabi-v7a/gdbserver
frameworks/runtime-src/proj.android-studio/app/libs/armeabi-v7a/gdb.setup
*.udf
frameworks\cocos2d-x\cocos\editor-support\spine\proj.win32\Debug.win32\*.obj
frameworks/cocos2d-x/cocos/2d/Release.win32
frameworks/cocos2d-x/cocos/2d/Debug.win32
frameworks/runtime-src/proj.win32/res
frameworks/runtime-src/proj.win32/src
frameworks/runtime-src/proj.win32/
frameworks/cocos2d-x/cocos/editor-support/
frameworks/runtime-src/proj.win32/src
frameworks/runtime-src/proj.win32/glew32.dll
frameworks/runtime-src/proj.win32/websockets.dll
frameworks/runtime-src/proj.win32/zlib1.dll
frameworks/runtime-src/proj.win32/iconv.dll
frameworks/runtime-src/proj.win32/lang
frameworks/runtime-src/proj.win32/libcocos2d.dll
frameworks/runtime-src/proj.win32/libcurl.dll
frameworks/runtime-src/proj.win32/libmpg123.dll
frameworks/runtime-src/proj.win32/libogg.dll
frameworks/runtime-src/proj.win32/libtiff.dll
frameworks/runtime-src/proj.win32/libvorbis.dll
frameworks/runtime-src/proj.win32/libvorbisfile.dll
frameworks/runtime-src/proj.win32/lua51.dll
frameworks/runtime-src/proj.win32/sqlite3.dll
.vs
/lua51.dll
/OpenAL32.dll
/glew32.dll
/iconv.dll
/libcocos2d.dll
/libcurl.dll
/libmpg123.dll
/libogg.dll
/libtiff.dll
/libvorbis.dll
/libvorbisfile.dll
/project_wly2_lua_client.exe
/zlib1.dll
/pthreadGC2.dll
/pthreadGCE2.dll
/pthreadVC2.dll
/pthreadVCE2.dll
/pthreadVSE2.dll
/sqlite3.dll
/websockets.dll
/libcrypto-1_1.dll
/libssl-1_1.dll
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
