<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>G9KM5BEGHR</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.youqi.mx</key>
		<string>974f275d-9f41-4e83-be63-5df13582dfd3</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
</dict>
</plist>
