<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
    <dict>
        <key>com.gsg.2950</key>
        <string>f6f57d82-6b12-4eee-b0d4-c0ef5b0ae50c</string>
    </dict>
    <key>method</key>
    <string>development</string>
</dict>
</plist>