<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing_beijing_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,2263},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing_beijing_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,2263},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beijing.png</string>
            <key>size</key>
            <string>{2007,2639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aed474ce61ef9f0ae298d2357c6530ad:10cd1c1feb9df7a3e83a795d243392b7:8f175db6310f4877c38f47291b301fed$</string>
            <key>textureFileName</key>
            <string>beijing.png</string>
        </dict>
    </dict>
</plist>
