<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CK_pinzhi001_CK_pinzhi001_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{475,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,1},{475,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{475,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,639},{475,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{473,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1438,1},{473,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{471,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{957,1271},{471,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{471,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{957,1909},{471,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{471,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1430,1275},{471,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1438,639},{473,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,1277},{475,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{959,637},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1430,1913},{475,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{478,1},{479,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{478,635},{479,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{478,1905},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{959,1},{477,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{477,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{478,1269},{477,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,1913},{475,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,2549},{475,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{478,2539},{475,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{473,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{955,2545},{473,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_pinzhi001_CK_pinzhi001_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{473,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1430,2547},{473,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CK_pinzhi001.png</string>
            <key>size</key>
            <string>{1912,3184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20c4b6b90e866bf654d0ebb3c5e8faf6:c7dc7799e5c0442d82617f28bd385bef:8630ad9ceadaa861c42ef6d1e43cf6a1$</string>
            <key>textureFileName</key>
            <string>CK_pinzhi001.png</string>
        </dict>
    </dict>
</plist>
