<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CK_pinzhi006_CK_pinzhi006_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{473,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,1},{473,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{471,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{639,1},{471,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{471,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{639,474},{471,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{469,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{639,947},{469,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{471,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1273,1909},{471,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{471,636}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,476},{471,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{637,2370},{471,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{473,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{637,1895},{473,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{473,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1273,2382},{473,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{473,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{637,2843},{473,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1277,1},{475,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1277,478},{475,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{475,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1277,955},{475,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,949},{475,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{637,1418},{475,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,1426},{475,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{475,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1273,1432},{475,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{473,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,1903},{473,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{471,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,2378},{471,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_pinzhi006_CK_pinzhi006_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{471,634}</string>
                <key>spriteSourceSize</key>
                <string>{483,656}</string>
                <key>textureRect</key>
                <string>{{1,2851},{471,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CK_pinzhi006.png</string>
            <key>size</key>
            <string>{1910,3323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cccaef7c70535e4ccd8b503ae3e1521b:edd913469bb19172860e05287b975efd:45a967f4a3acae89b53250d4abd2c73d$</string>
            <key>textureFileName</key>
            <string>CK_pinzhi006.png</string>
        </dict>
    </dict>
</plist>
