<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CK_texiao_CK_texiao_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{663,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,3017},{663,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,2263},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,755},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,378},{667,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_texiao_CK_texiao_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,2640},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,2263},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{621,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,1},{621,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3310,2259},{491,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,3017},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,2640},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{619,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2659,2636},{619,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{611,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3280,2636},{611,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{631,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,2259},{631,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{653,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,2640},{653,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,2263},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{667,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1509},{667,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{667,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,1047},{667,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK_texiao_CK_texiao_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{649,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,2263},{649,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{643,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1884},{643,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{635,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1335,3017},{635,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-1}</string>
                <key>spriteSize</key>
                <string>{623,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1994,3013},{623,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-1}</string>
                <key>spriteSize</key>
                <string>{607,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2619,3013},{607,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{609,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3228,3013},{609,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-1}</string>
                <key>spriteSize</key>
                <string>{615,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3214,3388},{615,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{619,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1972,3388},{619,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{625,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,2638},{625,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{619,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2593,3388},{619,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-1}</string>
                <key>spriteSize</key>
                <string>{593,373}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3322,1884},{593,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK_texiao_CK_texiao_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,14}</string>
                <key>spriteSize</key>
                <string>{547,345}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,3394},{547,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CK_texiao.png</string>
            <key>size</key>
            <string>{3968,3762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b990e75d276e6608030e9c2df8c2095:fdef7fbd0309c96dbceea3746cd1efe3:ea5ca15af3af053c9499e4be53203115$</string>
            <key>textureFileName</key>
            <string>CK_texiao.png</string>
        </dict>
    </dict>
</plist>
