<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juqi_juqi_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,0}</string>
                <key>spriteSize</key>
                <string>{505,394}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{574,1},{505,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juqi_juqi_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{571,402}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,1},{571,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-4}</string>
                <key>spriteSize</key>
                <string>{505,402}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{566,508},{505,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juqi_juqi_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{543,400}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{560,1211},{543,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juqi_juqi_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{555,396}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{560,1756},{555,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juqi_juqi_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{557,382}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,1033},{557,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{557,350}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,1417},{557,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{563,316}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,405},{563,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{559,308}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,723},{559,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{551,288}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,1769},{551,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{525,250}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,2059},{525,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{405,194}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{562,1015},{405,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-7}</string>
                <key>spriteSize</key>
                <string>{297,194}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{1,2313},{297,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juqi_juqi_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{207,196}</string>
                <key>spriteSourceSize</key>
                <string>{667,424}</string>
                <key>textureRect</key>
                <string>{{300,2311},{207,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>juqi.png</string>
            <key>size</key>
            <string>{969,2508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e595793f4363f43e85ca92b18904da2:b1eb509228e9eea7896d56844c9bc8eb:c979ca774994769c63177f5255b6749c$</string>
            <key>textureFileName</key>
            <string>juqi.png</string>
        </dict>
    </dict>
</plist>
