<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kapaifanzhuan_kapaifanzhuan_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{55,177}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1637,190},{55,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-10}</string>
                <key>spriteSize</key>
                <string>{205,217}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1430,1},{205,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{209,227}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1219,1},{209,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{211,235}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{616,1},{211,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{207,243}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{407,1},{207,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{201,247}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{201,245}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{204,1},{201,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{199,233}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{829,1},{199,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{187,233}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1030,1},{187,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,34}</string>
                <key>spriteSize</key>
                <string>{173,187}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1637,1},{173,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,32}</string>
                <key>spriteSize</key>
                <string>{169,183}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1812,1},{169,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,43}</string>
                <key>spriteSize</key>
                <string>{157,147}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1983,1},{157,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,42}</string>
                <key>spriteSize</key>
                <string>{17,119}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1219,230},{17,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kapaifanzhuan_kapaifanzhuan_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,99}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{327,335}</string>
                <key>textureRect</key>
                <string>{{1340,230},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kapaifanzhuan.png</string>
            <key>size</key>
            <string>{2131,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a63ec849bf78177a0224698a256588:197833f5c5f443afd515a61d54316752:5f6bf5fe2ce3314843b6a303df2d4d19$</string>
            <key>textureFileName</key>
            <string>kapaifanzhuan.png</string>
        </dict>
    </dict>
</plist>
