<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_bg_02_skill_bg_02_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{338,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{675,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{1012,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{1349,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{1686,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{2023,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{2360,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{2697,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{3034,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{3371,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_02_skill_bg_02_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,375}</string>
                <key>spriteSourceSize</key>
                <string>{335,375}</string>
                <key>textureRect</key>
                <string>{{3708,1},{335,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_bg_02.png</string>
            <key>size</key>
            <string>{4044,377}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:778cadc749d4beb772c2a317de1005ab:04f103546524a1e0373a1aa379b11463:8fc0f195bb3f56b980cc4c44d27edcb1$</string>
            <key>textureFileName</key>
            <string>skill_bg_02.png</string>
        </dict>
    </dict>
</plist>
