<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{205,136}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1843},{205,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{205,144}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1697},{205,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-7}</string>
                <key>spriteSize</key>
                <string>{213,146}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,923},{213,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{217,146}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,479},{217,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,627},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{219,154}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,323},{219,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{223,158}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{221,160}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,161},{221,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{211,160}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1215},{211,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{209,160}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1377},{209,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{209,156}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1539},{209,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{213,148}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,773},{213,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{213,142}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1071},{213,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{203,142}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1981},{203,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_anji_BUFF_TX_anji_BUFF_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{203,142}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,2125},{203,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_anji_BUFF.png</string>
            <key>size</key>
            <string>{225,2268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4480a883a593bf513c333a9806a0dc7:5a7eb4f12c8705f1080a6c8d49d75500:0edd6833b18e640d0b91dce48b37b03c$</string>
            <key>textureFileName</key>
            <string>TX_anji_BUFF.png</string>
        </dict>
    </dict>
</plist>
