<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit2_0157_TX_hit2_0157_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,84}</string>
                <key>spriteSize</key>
                <string>{430,314}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1149,1995},{430,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,101}</string>
                <key>spriteSize</key>
                <string>{446,366}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{781,2025},{446,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,110}</string>
                <key>spriteSize</key>
                <string>{434,356}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{849,1637},{434,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{109,94}</string>
                <key>spriteSize</key>
                <string>{418,330}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1285,1519},{418,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,65}</string>
                <key>spriteSize</key>
                <string>{412,346}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1623,1111},{412,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,69}</string>
                <key>spriteSize</key>
                <string>{406,336}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1285,1111},{406,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{104,74}</string>
                <key>spriteSize</key>
                <string>{406,326}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1623,1525},{406,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,78}</string>
                <key>spriteSize</key>
                <string>{410,316}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1623,2343},{410,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,81}</string>
                <key>spriteSize</key>
                <string>{416,310}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{781,2473},{416,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,63}</string>
                <key>spriteSize</key>
                <string>{408,320}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1623,1933},{408,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,40}</string>
                <key>spriteSize</key>
                <string>{504,372}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{407,2041},{504,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,29}</string>
                <key>spriteSize</key>
                <string>{534,404}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1,2041},{534,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,15}</string>
                <key>spriteSize</key>
                <string>{576,454}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1,1585},{576,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,2}</string>
                <key>spriteSize</key>
                <string>{618,502}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1,563},{618,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{660,552}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{663,1},{660,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,9}</string>
                <key>spriteSize</key>
                <string>{616,516}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1,1067},{616,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{660,560}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,18}</string>
                <key>spriteSize</key>
                <string>{614,534}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1311,575},{614,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{658,572}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1325,1},{658,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,17}</string>
                <key>spriteSize</key>
                <string>{612,532}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{619,1103},{612,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{646,546}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{663,555},{646,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,78}</string>
                <key>spriteSize</key>
                <string>{422,348}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{1199,2427},{422,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0157_TX_hit2_0157_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,73}</string>
                <key>spriteSize</key>
                <string>{386,268}</string>
                <key>spriteSourceSize</key>
                <string>{692,578}</string>
                <key>textureRect</key>
                <string>{{579,1637},{386,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit2_0157.png</string>
            <key>size</key>
            <string>{1984,2784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0f50d71db0f91adbd375caf507d8f8:bc5737eb1578dedecea08ebc64992224:44a75e40081b322ac951448f91a04b01$</string>
            <key>textureFileName</key>
            <string>TX_hit2_0157.png</string>
        </dict>
    </dict>
</plist>
