<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit_1052_TX_hit_1052_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-28}</string>
                <key>spriteSize</key>
                <string>{519,307}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,2205},{519,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-26}</string>
                <key>spriteSize</key>
                <string>{575,323}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,2195},{575,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-18}</string>
                <key>spriteSize</key>
                <string>{643,339}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1854},{643,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{667,351}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1852},{667,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{667,349}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1852},{667,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{667,357}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1493},{667,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{667,365}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,755},{667,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{667,371}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{667,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{667,361}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1489},{667,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{667,365}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1122},{667,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{667,367}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,755},{667,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{667,365}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1124},{667,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{667,363}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1128},{667,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_1052_TX_hit_1052_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{667,361}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1491},{667,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit_1052.png</string>
            <key>size</key>
            <string>{2007,2519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:259c52497d3f494db4065365560f21b6:129801fe7ac39925b8c4d98c03d3e61e:fc586ddc5b862130d50ef81e9ec5e8a0$</string>
            <key>textureFileName</key>
            <string>TX_hit_1052.png</string>
        </dict>
    </dict>
</plist>
