<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit_0118_TX_hit_0118_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{237,219}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{3342,1},{237,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{305,237}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{3035,1},{305,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{283,285}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{2750,1},{283,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{291,297}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{2164,1},{291,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{297,299}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{1865,1},{297,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{305,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{1259,1},{305,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{309,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{948,1},{309,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{313,303}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{1,1},{313,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{315,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{316,1},{315,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{313,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{633,1},{313,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{297,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{1566,1},{297,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0118_TX_hit_0118_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{291,291}</string>
                <key>spriteSourceSize</key>
                <string>{321,317}</string>
                <key>textureRect</key>
                <string>{{2457,1},{291,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit_0118.png</string>
            <key>size</key>
            <string>{3562,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e3eee847404ee1a1af31b1c3b86615:2fdba317e2525e16a151b44f4b8bac8a:b673a9faf3a9428fa31f60e58452ff96$</string>
            <key>textureFileName</key>
            <string>TX_hit_0118.png</string>
        </dict>
    </dict>
</plist>
