<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit_0371_TX_hit_0371_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-171}</string>
                <key>spriteSize</key>
                <string>{290,306}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{2301,1247},{290,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-125}</string>
                <key>spriteSize</key>
                <string>{504,632}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1989,741},{504,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-2}</string>
                <key>spriteSize</key>
                <string>{484,702}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{615,819},{484,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{564,738}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1993,1},{564,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,19}</string>
                <key>spriteSize</key>
                <string>{612,760}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1,819},{612,760}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,38}</string>
                <key>spriteSize</key>
                <string>{644,816}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1,1},{644,816}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,42}</string>
                <key>spriteSize</key>
                <string>{496,808}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1183,1},{496,808}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,44}</string>
                <key>spriteSize</key>
                <string>{472,804}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1183,499},{472,804}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,49}</string>
                <key>spriteSize</key>
                <string>{486,794}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{723,1523},{486,794}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,55}</string>
                <key>spriteSize</key>
                <string>{512,782}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1101,973},{512,782}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,55}</string>
                <key>spriteSize</key>
                <string>{534,782}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{647,1},{534,782}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,56}</string>
                <key>spriteSize</key>
                <string>{506,780}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1519,1487},{506,780}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0371_TX_hit_0371_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,86}</string>
                <key>spriteSize</key>
                <string>{428,720}</string>
                <key>spriteSourceSize</key>
                <string>{646,892}</string>
                <key>textureRect</key>
                <string>{{1,1581},{428,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit_0371.png</string>
            <key>size</key>
            <string>{2622,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b2976a1ae4095a60ab882b03587c91a:75d822665bf90a0ba9190805e1510f3b:40fe7453d98cff5a324bdb6c1c2c4e71$</string>
            <key>textureFileName</key>
            <string>TX_hit_0371.png</string>
        </dict>
    </dict>
</plist>
