<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit_0122_TX_hit_0122_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126,-68}</string>
                <key>spriteSize</key>
                <string>{406,322}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{657,321},{406,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-34}</string>
                <key>spriteSize</key>
                <string>{530,428}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,1109},{530,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{654,552}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,1},{654,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{616,552}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,555},{616,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,22}</string>
                <key>spriteSize</key>
                <string>{494,478}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{533,1161},{494,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,3}</string>
                <key>spriteSize</key>
                <string>{492,440}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{497,2097},{492,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,4}</string>
                <key>spriteSize</key>
                <string>{494,442}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,1979},{494,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,4}</string>
                <key>spriteSize</key>
                <string>{496,438}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,1539},{496,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,6}</string>
                <key>spriteSize</key>
                <string>{496,438}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{499,1657},{496,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,15}</string>
                <key>spriteSize</key>
                <string>{456,416}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,2423},{456,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,8}</string>
                <key>spriteSize</key>
                <string>{446,406}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{459,2539},{446,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,25}</string>
                <key>spriteSize</key>
                <string>{430,374}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{619,729},{430,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,25}</string>
                <key>spriteSize</key>
                <string>{430,374}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,2841},{430,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,25}</string>
                <key>spriteSize</key>
                <string>{430,374}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{433,2947},{430,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,25}</string>
                <key>spriteSize</key>
                <string>{430,374}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{1,3217},{430,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0122_TX_hit_0122_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,53}</string>
                <key>spriteSize</key>
                <string>{344,318}</string>
                <key>spriteSourceSize</key>
                <string>{658,552}</string>
                <key>textureRect</key>
                <string>{{657,1},{344,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit_0122.png</string>
            <key>size</key>
            <string>{1012,3592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b91c78f2390b5a8f64419fbc4dd995:5e99872fa7c28a5ed861b4538843f3c8:090b9fa2095fe40b5e46ba38724ca903$</string>
            <key>textureFileName</key>
            <string>TX_hit_0122.png</string>
        </dict>
    </dict>
</plist>
