<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit1_0361_TX_hit1_0361_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-235,-97}</string>
                <key>spriteSize</key>
                <string>{230,278}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{391,2949},{230,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-196,-76}</string>
                <key>spriteSize</key>
                <string>{304,242}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{703,1},{304,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-152,-79}</string>
                <key>spriteSize</key>
                <string>{388,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{287,3197},{388,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-108}</string>
                <key>spriteSize</key>
                <string>{458,388}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{499,2559},{458,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-7}</string>
                <key>spriteSize</key>
                <string>{612,686}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,637},{612,686}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{634,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{634,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,38}</string>
                <key>spriteSize</key>
                <string>{522,442}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1651},{522,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{490,396}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{519,2161},{490,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,13}</string>
                <key>spriteSize</key>
                <string>{496,398}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,2497},{496,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{516,400}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,2095},{516,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,12}</string>
                <key>spriteSize</key>
                <string>{536,398}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1251},{536,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-20}</string>
                <key>spriteSize</key>
                <string>{466,332}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{539,1499},{466,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{464,326}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{525,1833},{464,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-12}</string>
                <key>spriteSize</key>
                <string>{446,322}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{689,647},{446,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{402,312}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{689,1095},{402,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{703,245},{400,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-9}</string>
                <key>spriteSize</key>
                <string>{388,298}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,2897},{388,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-3}</string>
                <key>spriteSize</key>
                <string>{388,284}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,3197},{388,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-3}</string>
                <key>spriteSize</key>
                <string>{382,284}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{671,2949},{382,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0361_TX_hit1_0361_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{378,280}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{539,3333},{378,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit1_0361.png</string>
            <key>size</key>
            <string>{1012,3614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b2249d7b2e4bd8aa8029d3f95bd5d23:3f448c00e0c8521b8a288df455707e37:f251296dbd5c2dcd60b9e1f0c305c460$</string>
            <key>textureFileName</key>
            <string>TX_hit1_0361.png</string>
        </dict>
    </dict>
</plist>
