<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit_0125_TX_hit_0125_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,116}</string>
                <key>spriteSize</key>
                <string>{348,656}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1779,1},{348,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{458,900}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1,919},{458,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{462,916}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1,1},{462,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{410,882}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{877,1},{410,882}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{394,908}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1,1379},{394,908}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{410,900}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{465,1},{410,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{410,874}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{903,885},{410,874}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{410,874}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{911,1297},{410,874}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-220}</string>
                <key>spriteSize</key>
                <string>{410,488}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1289,1},{410,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-222}</string>
                <key>spriteSize</key>
                <string>{410,484}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1289,413},{410,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-231}</string>
                <key>spriteSize</key>
                <string>{410,466}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1775,413},{410,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-251}</string>
                <key>spriteSize</key>
                <string>{410,426}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1779,881},{410,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-251}</string>
                <key>spriteSize</key>
                <string>{410,426}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{1787,1293},{410,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-260}</string>
                <key>spriteSize</key>
                <string>{262,218}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{2187,351},{262,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit_0125_TX_hit_0125_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-258}</string>
                <key>spriteSize</key>
                <string>{246,208}</string>
                <key>spriteSourceSize</key>
                <string>{500,928}</string>
                <key>textureRect</key>
                <string>{{2187,615},{246,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit_0125.png</string>
            <key>size</key>
            <string>{2436,1774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e55dcdfd963a5972df0bb09337253cd:af1becf1fb52397c8879842fbb9c3358:079f5a95f459870272342140dd848132$</string>
            <key>textureFileName</key>
            <string>TX_hit_0125.png</string>
        </dict>
    </dict>
</plist>
