<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit2_0154_TX_hit2_0154_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{304,150}</string>
                <key>spriteSize</key>
                <string>{346,350}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1513,1709},{346,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,131}</string>
                <key>spriteSize</key>
                <string>{360,332}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{783,1473},{360,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{232,115}</string>
                <key>spriteSize</key>
                <string>{352,308}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1523,1399},{352,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,96}</string>
                <key>spriteSize</key>
                <string>{352,306}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1159,1443},{352,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,65}</string>
                <key>spriteSize</key>
                <string>{362,338}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1159,1103},{362,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,40}</string>
                <key>spriteSize</key>
                <string>{372,350}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1181,729},{372,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,14}</string>
                <key>spriteSize</key>
                <string>{380,350}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1533,721},{380,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{358,324}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1533,1073},{358,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-20}</string>
                <key>spriteSize</key>
                <string>{348,304}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1145,1751},{348,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-73}</string>
                <key>spriteSize</key>
                <string>{374,376}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{783,1095},{374,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-74}</string>
                <key>spriteSize</key>
                <string>{606,446}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,461},{606,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-80}</string>
                <key>spriteSize</key>
                <string>{648,458}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{648,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-198,-43}</string>
                <key>spriteSize</key>
                <string>{396,364}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{783,729},{396,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-44}</string>
                <key>spriteSize</key>
                <string>{420,366}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{651,1},{420,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-44}</string>
                <key>spriteSize</key>
                <string>{420,366}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,909},{420,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-43}</string>
                <key>spriteSize</key>
                <string>{420,366}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1073,1},{420,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-42}</string>
                <key>spriteSize</key>
                <string>{420,364}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,1277},{420,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1495,1},{420,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,1643},{420,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{423,909},{420,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{423,1331},{420,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{651,369},{420,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1073,369},{420,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit2_0154_TX_hit2_0154_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-40}</string>
                <key>spriteSize</key>
                <string>{420,358}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1495,361},{420,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit2_0154.png</string>
            <key>size</key>
            <string>{1916,2056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:701345dfe0863bdba8d4fe18a0b9c15b:3de8855b1f26931b46fd726ebb80cbe4:c8bfb3e8109dcce4673ec7747cf9685e$</string>
            <key>textureFileName</key>
            <string>TX_hit2_0154.png</string>
        </dict>
    </dict>
</plist>
