<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_hit1_0108_TX_hit1_0108_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-283,-149}</string>
                <key>spriteSize</key>
                <string>{370,334}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1025,1391},{370,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238,-117}</string>
                <key>spriteSize</key>
                <string>{354,330}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1361,1675},{354,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186,-87}</string>
                <key>spriteSize</key>
                <string>{348,336}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{2059,1667},{348,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,-64}</string>
                <key>spriteSize</key>
                <string>{346,340}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1711,1327},{346,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,-49}</string>
                <key>spriteSize</key>
                <string>{364,356}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1713,969},{364,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-26}</string>
                <key>spriteSize</key>
                <string>{386,354}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1325,969},{386,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,14}</string>
                <key>spriteSize</key>
                <string>{356,328}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{2079,969},{356,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,43}</string>
                <key>spriteSize</key>
                <string>{348,338}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{2059,1327},{348,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{109,73}</string>
                <key>spriteSize</key>
                <string>{350,330}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1717,1669},{350,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{159,88}</string>
                <key>spriteSize</key>
                <string>{348,348}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1361,1325},{348,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,58}</string>
                <key>spriteSize</key>
                <string>{522,526}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,551},{522,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{201,48}</string>
                <key>spriteSize</key>
                <string>{552,548}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{552,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{233,61}</string>
                <key>spriteSize</key>
                <string>{410,420}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{913,969},{410,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{555,1},{454,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,1079},{454,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1011,1},{454,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1467,1},{454,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1923,1},{454,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1,1591},{454,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{457,1079},{454,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{513,1591},{454,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{555,513},{454,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1067,513},{454,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_hit1_0108_TX_hit1_0108_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{213,39}</string>
                <key>spriteSize</key>
                <string>{454,510}</string>
                <key>spriteSourceSize</key>
                <string>{954,650}</string>
                <key>textureRect</key>
                <string>{{1579,513},{454,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_hit1_0108.png</string>
            <key>size</key>
            <string>{2408,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17604ef470521faa8d7ce46cec19d512:0f12150fe80cfded7481b0b904f013fc:4379925360190d1867ce5ffe43c62efe$</string>
            <key>textureFileName</key>
            <string>TX_hit1_0108.png</string>
        </dict>
    </dict>
</plist>
