<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,1}</string>
                <key>spriteSize</key>
                <string>{427,535}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{427,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{285,359}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{520,500},{285,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-36}</string>
                <key>spriteSize</key>
                <string>{497,447}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{430,1},{497,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{401,517}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{1,538},{401,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{269,347}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{879,1},{269,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{173,223}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{807,633},{173,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{281,255}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{879,350},{281,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-8}</string>
                <key>spriteSize</key>
                <string>{187,167}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{982,633},{187,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_juqi_BUFF_TX_juqi_BUFF_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-7}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{503,537}</string>
                <key>textureRect</key>
                <string>{{982,822},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_juqi_BUFF.png</string>
            <key>size</key>
            <string>{1150,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12df8cc8c7b8156439b3abebe0e16487:f1b85d5402f442f324e4e5921036ee6c:937c0d68287c4e475671dac78e9413ec$</string>
            <key>textureFileName</key>
            <string>TX_juqi_BUFF.png</string>
        </dict>
    </dict>
</plist>
