<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_shifa_BUFF_TX_shifa_BUFF_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{283,254}</string>
                <key>spriteSourceSize</key>
                <string>{309,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{283,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_shifa_BUFF_TX_shifa_BUFF_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{309,300}</string>
                <key>textureRect</key>
                <string>{{286,1},{235,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_shifa_BUFF_TX_shifa_BUFF_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{187,166}</string>
                <key>spriteSourceSize</key>
                <string>{309,300}</string>
                <key>textureRect</key>
                <string>{{494,1},{187,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_shifa_BUFF_TX_shifa_BUFF_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{309,300}</string>
                <key>textureRect</key>
                <string>{{662,1},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_shifa_BUFF.png</string>
            <key>size</key>
            <string>{768,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e063edc3d6cd2d098ed886f67fc5c5:c072ad73bf0cfed81107e91abcddd4b0:4665415170f90fda8d018a07e75c1a81$</string>
            <key>textureFileName</key>
            <string>TX_shifa_BUFF.png</string>
        </dict>
    </dict>
</plist>
