<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_sf_0116_TX_sf_0116_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,194}</string>
                <key>spriteSize</key>
                <string>{40,231}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1291,622},{40,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-91}</string>
                <key>spriteSize</key>
                <string>{586,433}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{703,622},{586,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{700,635}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{660,619}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{703,1},{660,619}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-100}</string>
                <key>spriteSize</key>
                <string>{592,373}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1365,1},{592,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-100}</string>
                <key>spriteSize</key>
                <string>{586,367}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1365,595},{586,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-100}</string>
                <key>spriteSize</key>
                <string>{586,367}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,638},{586,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-100}</string>
                <key>spriteSize</key>
                <string>{586,367}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,1007},{586,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-100}</string>
                <key>spriteSize</key>
                <string>{586,367}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{589,1057},{586,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-100}</string>
                <key>spriteSize</key>
                <string>{586,367}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,1376},{586,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-101}</string>
                <key>spriteSize</key>
                <string>{586,365}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1177,1183},{586,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-101}</string>
                <key>spriteSize</key>
                <string>{586,365}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{589,1426},{586,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-101}</string>
                <key>spriteSize</key>
                <string>{586,365}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,1745},{586,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{586,363}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1177,1550},{586,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{586,363}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{589,1793},{586,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-103}</string>
                <key>spriteSize</key>
                <string>{586,361}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,2112},{586,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-103}</string>
                <key>spriteSize</key>
                <string>{586,361}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1177,1915},{586,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-103}</string>
                <key>spriteSize</key>
                <string>{584,359}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{589,2158},{584,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-105}</string>
                <key>spriteSize</key>
                <string>{578,351}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1,2519},{578,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-106}</string>
                <key>spriteSize</key>
                <string>{564,341}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{354,2519},{564,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-107}</string>
                <key>spriteSize</key>
                <string>{552,333}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{697,2519},{552,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-107}</string>
                <key>spriteSize</key>
                <string>{524,321}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1032,2519},{524,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-100}</string>
                <key>spriteSize</key>
                <string>{478,323}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1355,2595},{478,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0116_TX_sf_0116_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-89}</string>
                <key>spriteSize</key>
                <string>{364,315}</string>
                <key>spriteSourceSize</key>
                <string>{704,653}</string>
                <key>textureRect</key>
                <string>{{1355,2278},{364,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_sf_0116.png</string>
            <key>size</key>
            <string>{1764,3098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf66f6970e0eaa00b8485d3ce557a3a2:0119dfba7b2adf5dc674556dd7727a62:254ce7f8e424c34f61ab6a1c45d70dee$</string>
            <key>textureFileName</key>
            <string>TX_sf_0116.png</string>
        </dict>
    </dict>
</plist>
