<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_sf_0122_TX_sf_0122_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,18}</string>
                <key>spriteSize</key>
                <string>{434,381}</string>
                <key>spriteSourceSize</key>
                <string>{478,445}</string>
                <key>textureRect</key>
                <string>{{836,1},{434,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0122_TX_sf_0122_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{458,411}</string>
                <key>spriteSourceSize</key>
                <string>{478,445}</string>
                <key>textureRect</key>
                <string>{{1,1},{458,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0122_TX_sf_0122_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,22}</string>
                <key>spriteSize</key>
                <string>{392,373}</string>
                <key>spriteSourceSize</key>
                <string>{478,445}</string>
                <key>textureRect</key>
                <string>{{461,1},{392,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_sf_0122.png</string>
            <key>size</key>
            <string>{1271,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace0ed9318102a13858b3879d5a5b49b:32a44f98fe9414431c3d1b51162e5f4f:5ccad0825d3c7b3bce559e6cdf870a2b$</string>
            <key>textureFileName</key>
            <string>TX_sf_0122.png</string>
        </dict>
    </dict>
</plist>
