<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_skill_0027_TX_skill_0027_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-198,-64}</string>
                <key>spriteSize</key>
                <string>{271,247}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-18}</string>
                <key>spriteSize</key>
                <string>{399,339}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{274,1},{399,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,0}</string>
                <key>spriteSize</key>
                <string>{423,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{675,1},{423,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,0}</string>
                <key>spriteSize</key>
                <string>{425,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1100,1},{425,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,0}</string>
                <key>spriteSize</key>
                <string>{407,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1527,1},{407,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,0}</string>
                <key>spriteSize</key>
                <string>{427,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1936,1},{427,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,0}</string>
                <key>spriteSize</key>
                <string>{463,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2365,1},{463,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,0}</string>
                <key>spriteSize</key>
                <string>{479,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2830,1},{479,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,0}</string>
                <key>spriteSize</key>
                <string>{453,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3311,1},{453,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,0}</string>
                <key>spriteSize</key>
                <string>{483,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,342},{483,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,0}</string>
                <key>spriteSize</key>
                <string>{531,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{486,378},{531,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{477,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1019,378},{477,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,0}</string>
                <key>spriteSize</key>
                <string>{469,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1498,378},{469,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,0}</string>
                <key>spriteSize</key>
                <string>{495,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1969,378},{495,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,0}</string>
                <key>spriteSize</key>
                <string>{507,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2466,378},{507,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,0}</string>
                <key>spriteSize</key>
                <string>{515,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2975,378},{515,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,0}</string>
                <key>spriteSize</key>
                <string>{511,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3492,378},{511,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,0}</string>
                <key>spriteSize</key>
                <string>{517,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{517,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,0}</string>
                <key>spriteSize</key>
                <string>{523,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{520,755},{523,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,0}</string>
                <key>spriteSize</key>
                <string>{525,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1045,755},{525,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,0}</string>
                <key>spriteSize</key>
                <string>{511,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1572,755},{511,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,0}</string>
                <key>spriteSize</key>
                <string>{493,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2085,755},{493,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,0}</string>
                <key>spriteSize</key>
                <string>{529,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2580,755},{529,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,0}</string>
                <key>spriteSize</key>
                <string>{509,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3111,755},{509,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,0}</string>
                <key>spriteSize</key>
                <string>{489,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3622,755},{489,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1132},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,1246},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1509},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,1623},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1886},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0027_TX_skill_0027_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,2000},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_skill_0027.png</string>
            <key>size</key>
            <string>{4014,2376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b36667ac1374aa88f98b05f2faa3fa4:c8b319c84814046525d5bdd11440f19e:1c8b8ae71e709bd71e057eb6234803e0$</string>
            <key>textureFileName</key>
            <string>TX_skill_0027.png</string>
        </dict>
    </dict>
</plist>
