<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_skill_0025_TX_skill_0025_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-296,4}</string>
                <key>spriteSize</key>
                <string>{75,213}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1854,1423},{75,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-262,10}</string>
                <key>spriteSize</key>
                <string>{143,259}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1746,1800},{143,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,-4}</string>
                <key>spriteSize</key>
                <string>{207,273}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1679,2454},{207,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-202,-4}</string>
                <key>spriteSize</key>
                <string>{263,275}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1679,2177},{263,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-176,3}</string>
                <key>spriteSize</key>
                <string>{315,279}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1362,2177},{315,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,0}</string>
                <key>spriteSize</key>
                <string>{371,283}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{989,2177},{371,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,2}</string>
                <key>spriteSize</key>
                <string>{445,267}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{946,2476},{445,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-5}</string>
                <key>spriteSize</key>
                <string>{491,279}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{334,2480},{491,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{591,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1261,1423},{591,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{591,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{604,1453},{591,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{601,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1451},{601,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,3}</string>
                <key>spriteSize</key>
                <string>{615,369}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1329,348},{615,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,10}</string>
                <key>spriteSize</key>
                <string>{629,355}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1094},{629,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{633,353}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1295,1068},{633,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{637,351}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{660,378},{637,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{637,347}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1299,719},{637,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,15}</string>
                <key>spriteSize</key>
                <string>{633,345}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,747},{633,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,16}</string>
                <key>spriteSize</key>
                <string>{627,343}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{632,1108},{627,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,15}</string>
                <key>spriteSize</key>
                <string>{619,345}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1329,1},{619,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,22}</string>
                <key>spriteSize</key>
                <string>{561,331}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1828},{561,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,22}</string>
                <key>spriteSize</key>
                <string>{491,331}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,2480},{491,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,23}</string>
                <key>spriteSize</key>
                <string>{475,329}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{615,2476},{475,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{667,367}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{657,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1},{657,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{657,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,370},{657,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{633,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{660,731},{633,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,0}</string>
                <key>spriteSize</key>
                <string>{547,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1197,1800},{547,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,3}</string>
                <key>spriteSize</key>
                <string>{525,369}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1215,2462},{525,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,0}</string>
                <key>spriteSize</key>
                <string>{531,345}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{564,1830},{531,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,8}</string>
                <key>spriteSize</key>
                <string>{531,317}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,2161},{531,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_skill_0025_TX_skill_0025_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{107,-12}</string>
                <key>spriteSize</key>
                <string>{453,297}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{534,2177},{453,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_skill_0025.png</string>
            <key>size</key>
            <string>{1949,2988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e0c24cee6793a75b8e45f4e8b68ca09:ab28f935ec2d0b03846109b2483d0b00:8afc013043d809ae8bab33c81eb42761$</string>
            <key>textureFileName</key>
            <string>TX_skill_0025.png</string>
        </dict>
    </dict>
</plist>
