<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_sf_0138_TX_sf_0138_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,524}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{1,1},{636,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{636,440}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{1277,1},{636,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{636,434}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{1277,883},{636,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{636,438}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{1277,443},{636,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{636,460}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{639,1},{636,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{636,464}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{1,527},{636,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{636,438}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{639,463},{636,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-52}</string>
                <key>spriteSize</key>
                <string>{636,420}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{639,903},{636,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0138_TX_sf_0138_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-110}</string>
                <key>spriteSize</key>
                <string>{558,284}</string>
                <key>spriteSourceSize</key>
                <string>{636,524}</string>
                <key>textureRect</key>
                <string>{{1,993},{558,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_sf_0138.png</string>
            <key>size</key>
            <string>{1914,1324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:367fdc54671df9693ce301e14c6b7204:1a7f0122cbf6b1097af60e8e8c8b1258:0c127b78ba66b7be9c066199f1b0c7f9$</string>
            <key>textureFileName</key>
            <string>TX_sf_0138.png</string>
        </dict>
    </dict>
</plist>
