<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_sf_0104_TX_sf_0104_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{682,523}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{1,1},{682,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-13}</string>
                <key>spriteSize</key>
                <string>{648,503}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{1,526},{648,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{532,427}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{1,1031},{532,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{508,421}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{1,1460},{508,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-16}</string>
                <key>spriteSize</key>
                <string>{490,431}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{511,1694},{490,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-40}</string>
                <key>spriteSize</key>
                <string>{452,363}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{651,915},{452,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-15}</string>
                <key>spriteSize</key>
                <string>{460,323}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{685,453},{460,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-16}</string>
                <key>spriteSize</key>
                <string>{450,333}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{685,1},{450,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{450,319}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{453,2127},{450,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-6}</string>
                <key>spriteSize</key>
                <string>{450,321}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{1,1883},{450,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0104_TX_sf_0104_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-5}</string>
                <key>spriteSize</key>
                <string>{450,323}</string>
                <key>spriteSourceSize</key>
                <string>{700,549}</string>
                <key>textureRect</key>
                <string>{{535,1369},{450,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_sf_0104.png</string>
            <key>size</key>
            <string>{1019,2447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987d8f9bbc9dbc38843a982bd86d67dd:ab1479d30d843bb2d43c6213e2812d5f:e56234ca7fda098306cf557e55991ae9$</string>
            <key>textureFileName</key>
            <string>TX_sf_0104.png</string>
        </dict>
    </dict>
</plist>
