<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_sf_0152_TX_sf_0152_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-2}</string>
                <key>spriteSize</key>
                <string>{450,567}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{889,1},{450,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{456,565}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{1341,1},{456,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-2}</string>
                <key>spriteSize</key>
                <string>{450,551}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{1119,570},{450,551}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-30}</string>
                <key>spriteSize</key>
                <string>{404,507}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{2231,542},{404,507}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-32}</string>
                <key>spriteSize</key>
                <string>{344,497}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{3068,526},{344,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-26}</string>
                <key>spriteSize</key>
                <string>{326,485}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{2740,536},{326,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-23}</string>
                <key>spriteSize</key>
                <string>{418,547}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{1799,1},{418,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-13}</string>
                <key>spriteSize</key>
                <string>{440,565}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{552,576},{440,565}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{444,575}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-8}</string>
                <key>spriteSize</key>
                <string>{440,573}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{447,1},{440,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{434,557}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{1672,568},{434,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{444,549}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{1,578},{444,549}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,8}</string>
                <key>spriteSize</key>
                <string>{402,539}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{2219,1},{402,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{312,533}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{2623,1},{312,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_sf_0152_TX_sf_0152_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{312,523}</string>
                <key>spriteSourceSize</key>
                <string>{564,631}</string>
                <key>textureRect</key>
                <string>{{2937,1},{312,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_sf_0152.png</string>
            <key>size</key>
            <string>{3413,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12758bf6c291ef6b14dc3400072efd8b:8b9cc4973bae81fd0e19084e9df1a83d:ff53e1d6778ad9612be84f79f6517a36$</string>
            <key>textureFileName</key>
            <string>TX_sf_0152.png</string>
        </dict>
    </dict>
</plist>
