<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{219,253}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{241,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{1594,1},{241,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{247,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{672,1},{247,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-22}</string>
                <key>spriteSize</key>
                <string>{247,223}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{901,1},{247,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{237,223}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{2498,1},{237,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{229,235}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{2723,1},{229,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{225,239}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{2271,1},{225,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{225,243}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{1367,1},{225,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{225,249}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{222,1},{225,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{227,239}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{2042,1},{227,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{239,245}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{1126,1},{239,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{225,233}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{3173,1},{225,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-13}</string>
                <key>spriteSize</key>
                <string>{217,235}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{2954,1},{217,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{217,241}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{1823,1},{217,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX_zhuoshao_BUFF_TX_zhuoshao_BUFF_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{221,249}</string>
                <key>spriteSourceSize</key>
                <string>{257,271}</string>
                <key>textureRect</key>
                <string>{{449,1},{221,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TX_zhuoshao_BUFF.png</string>
            <key>size</key>
            <string>{3399,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b78f96b2a719a85f30fe78e379ba5aaa:118b1ea5c0719230d8ed6c13d6b4343c:b12d42951880c72838ea1b9982c1d87d$</string>
            <key>textureFileName</key>
            <string>TX_zhuoshao_BUFF.png</string>
        </dict>
    </dict>
</plist>
