<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_0_52_txf052_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{84,405},{77,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{163,405},{77,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{79,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{173,268},{79,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,339},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{81,64}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{86,277},{81,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,209},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,73},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{187,1},{89,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_52_txf052_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{91,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{94,1},{91,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{91,70}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{79,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{169,332},{79,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{79,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{84,343},{79,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,403},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{83,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,275},{83,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{88,211},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{177,181},{85,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_52_txf052_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{90,143},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{1,141},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_52_txf052_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{87,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{185,92},{87,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_52_txf052_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{94,71},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_0_52.png</string>
            <key>size</key>
            <string>{254,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a70c6b3706580aa7baf88fe22cce78e0:feacb8eb9cc7dfbed8c9dea6fb5cf8c5:c1f1514b50425cd2eb7a8c3faae3ce8d$</string>
            <key>textureFileName</key>
            <string>txf_0_52.png</string>
        </dict>
    </dict>
</plist>
