<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_31_txf431_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{639,202}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,3201},{639,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{649,204}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,2995},{649,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{659,208}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,2785},{659,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,21}</string>
                <key>spriteSize</key>
                <string>{663,206}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,2343},{663,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,23}</string>
                <key>spriteSize</key>
                <string>{673,210}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,2131},{673,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,25}</string>
                <key>spriteSize</key>
                <string>{681,214}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,1235},{681,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,26}</string>
                <key>spriteSize</key>
                <string>{675,216}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,1913},{675,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,27}</string>
                <key>spriteSize</key>
                <string>{679,220}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,1451},{679,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,29}</string>
                <key>spriteSize</key>
                <string>{659,226}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{664,2743},{659,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_31_txf431_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,31}</string>
                <key>spriteSize</key>
                <string>{661,232}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,2551},{661,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,33}</string>
                <key>spriteSize</key>
                <string>{669,236}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{678,2072},{669,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_31_txf431_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,35}</string>
                <key>spriteSize</key>
                <string>{677,238}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,1673},{677,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,37}</string>
                <key>spriteSize</key>
                <string>{679,240}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{684,1391},{679,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_31_txf431_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,38}</string>
                <key>spriteSize</key>
                <string>{689,242}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,991},{689,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,39}</string>
                <key>spriteSize</key>
                <string>{695,246}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{704,694},{695,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_31_txf431_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,40}</string>
                <key>spriteSize</key>
                <string>{707,250}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{707,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,36}</string>
                <key>spriteSize</key>
                <string>{703,242}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,253},{703,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,36}</string>
                <key>spriteSize</key>
                <string>{701,246}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,497},{701,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_31_txf431_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,37}</string>
                <key>spriteSize</key>
                <string>{691,250}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{710,1},{691,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_31_txf431_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,33}</string>
                <key>spriteSize</key>
                <string>{691,244}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,745},{691,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_31.png</string>
            <key>size</key>
            <string>{961,3404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c7c682770d62882dd19bd59f39722a:fd16651efce0dda2c2dce432edef73bc:e1fcb5f47dbb8fdecde0001ea372ed9c$</string>
            <key>textureFileName</key>
            <string>txf_4_31.png</string>
        </dict>
    </dict>
</plist>
