<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_86_5_txf8605_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,2}</string>
                <key>spriteSize</key>
                <string>{600,155}</string>
                <key>spriteSourceSize</key>
                <string>{938,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_5_txf8605_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{922,121}</string>
                <key>spriteSourceSize</key>
                <string>{938,159}</string>
                <key>textureRect</key>
                <string>{{603,1},{922,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_5_txf8605_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,49}</string>
                <key>spriteSize</key>
                <string>{924,13}</string>
                <key>spriteSourceSize</key>
                <string>{938,159}</string>
                <key>textureRect</key>
                <string>{{1,158},{924,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_86_5.png</string>
            <key>size</key>
            <string>{1526,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fac8e6c7519a6bf3b3516672c2e809a:6109bc090e80f7abd8a6bf2173f4084c:10e82811434fb6696a844d67cd7cb724$</string>
            <key>textureFileName</key>
            <string>txf_86_5.png</string>
        </dict>
    </dict>
</plist>
