<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_25_1_txf2501_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{96,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,563},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,645},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,231},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,477},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{94,74}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,155},{94,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,395},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,317},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_25_1_txf2501_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{1,79},{96,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_25_1.png</string>
            <key>size</key>
            <string>{98,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:836c603fa994db23a84547b3d4e7f3c1:c0b1de489b037bc4be6ae3be3b7a518b:556f66b1bb882652ce2457aa846cf23f$</string>
            <key>textureFileName</key>
            <string>txf_25_1.png</string>
        </dict>
    </dict>
</plist>
