<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_81_1_txf8101_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{543,650}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{536,981},{543,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{519,620}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{571,460},{519,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{477,568}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1215,1},{477,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{543,650}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1188,1001},{543,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{519,620}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1193,480},{519,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{477,568}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1,392},{477,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{457,548}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{665,1},{457,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{389,462}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{201,1},{389,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{173,198}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,750}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{699,1546},{651,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{597,696}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1,1526},{597,696}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_1_txf8101_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{533,624}</string>
                <key>spriteSourceSize</key>
                <string>{657,750}</string>
                <key>textureRect</key>
                <string>{{1,871},{533,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_81_1.png</string>
            <key>size</key>
            <string>{1839,2198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88b2b6ca4f997b1b96d64fa2b7e8c22:8ca1f845c94201a15c64454dad2a9df1:a7142b9fd37d0dbedc8985f73f931883$</string>
            <key>textureFileName</key>
            <string>txf_81_1.png</string>
        </dict>
    </dict>
</plist>
