<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_100_1_txf10001_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{824,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1469,1},{824,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{826,371}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1455,829},{826,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{826,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1078,833},{826,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{824,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1491,1657},{824,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{832,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{832,353}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{378,1},{832,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{832,355}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{360,835},{832,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{832,357}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1,835},{832,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-7}</string>
                <key>spriteSize</key>
                <string>{794,361}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1858,2483},{794,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-6}</string>
                <key>spriteSize</key>
                <string>{794,363}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1493,2483},{794,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-4}</string>
                <key>spriteSize</key>
                <string>{792,367}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2221,2479},{792,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-2}</string>
                <key>spriteSize</key>
                <string>{784,371}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1120,2489},{784,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{816,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{3344,1},{816,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{820,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2582,825},{820,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{822,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2205,827},{822,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{824,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1828,827},{824,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{826,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1092,1},{826,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{830,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{360,1669},{830,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{832,357}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1,1669},{832,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{814,361}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{3344,2397},{814,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{818,365}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2610,1647},{818,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{822,367}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2223,1},{822,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{824,373}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1868,1653},{824,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{826,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1114,1661},{826,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{828,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{737,1667},{828,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{830,357}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{733,1},{830,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{830,359}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{717,835},{830,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{818,361}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2977,1633},{818,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{816,363}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2977,1},{816,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{812,363}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2977,819},{812,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{822,365}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2243,1651},{822,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-4}</string>
                <key>spriteSize</key>
                <string>{766,367}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{3344,1629},{766,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-3}</string>
                <key>spriteSize</key>
                <string>{770,369}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{749,2497},{770,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{774,371}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{376,2501},{774,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-1}</string>
                <key>spriteSize</key>
                <string>{776,373}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1,2503},{776,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{802,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2590,2475},{802,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{808,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{3344,819},{808,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{812,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2967,2467},{812,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{818,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{2592,1},{818,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_1_txf10001_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{824,375}</string>
                <key>spriteSourceSize</key>
                <string>{832,375}</string>
                <key>textureRect</key>
                <string>{{1846,1},{824,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_100_1.png</string>
            <key>size</key>
            <string>{3720,3280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33251d7318c9a1c6809e4ad6d7b356dc:6c3844087900b3e40a6fc90e7a471593:d99b03a7f5d2534166d87df360437394$</string>
            <key>textureFileName</key>
            <string>txf_100_1.png</string>
        </dict>
    </dict>
</plist>
