<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_14_4_txf1404_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1245,1631},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{246,222}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1583,2613},{246,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,17}</string>
                <key>spriteSize</key>
                <string>{512,456}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1363,1663},{512,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,18}</string>
                <key>spriteSize</key>
                <string>{530,472}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1,2137},{530,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,20}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1245,2121},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,21}</string>
                <key>spriteSize</key>
                <string>{566,504}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{677,1631},{566,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{410,400}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{829,2613},{410,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{412,400}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1,2613},{412,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{412,400}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{415,2613},{412,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{408,394}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1497,747},{408,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{402,382}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1505,1},{402,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{378,340}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1505,405},{378,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{378,340}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1241,2613},{378,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{378,340}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{533,2137},{378,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{378,340}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{875,2137},{378,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{420,504}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1457,1157},{420,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_14_4_txf1404_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,750}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{728,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,750}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{753,1},{728,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,750}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1,731},{728,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{602,674}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{1,1461},{602,674}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-3}</string>
                <key>spriteSize</key>
                <string>{500,702}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{753,1129},{500,702}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_14_4_txf1404_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{396,742}</string>
                <key>spriteSourceSize</key>
                <string>{728,750}</string>
                <key>textureRect</key>
                <string>{{753,731},{396,742}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_14_4.png</string>
            <key>size</key>
            <string>{1892,3014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a2ed068a1d8bdfb9aa0fc2f80a6c452:d5f5d54966e5314e4d9bb938bb3f0243:113b9fc17bf30232f2ebfa2c75a66d21$</string>
            <key>textureFileName</key>
            <string>txf_14_4.png</string>
        </dict>
    </dict>
</plist>
