<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_51_txf451_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{311,224}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,2671},{311,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{311,214}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,2897},{311,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{323,238}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,1461},{323,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{323,234}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,2181},{323,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{323,242}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,731},{323,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{323,240}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,1219},{323,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{323,244}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,485},{323,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{323,238}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,1701},{323,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{323,246}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,237},{323,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{329,234}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,1},{329,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{323,238}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,1941},{323,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{323,242}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,975},{323,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_51_txf451_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{321,252}</string>
                <key>spriteSourceSize</key>
                <string>{365,286}</string>
                <key>textureRect</key>
                <string>{{1,2417},{321,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_51.png</string>
            <key>size</key>
            <string>{331,3112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d519b30b446a8881452b3bdcb1774938:b824a272c1150c28c6fb55da4c3d8c55:e074db064884ae58f0eaffccaed08563$</string>
            <key>textureFileName</key>
            <string>txf_4_51.png</string>
        </dict>
    </dict>
</plist>
