<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_3_2_txf302_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-34}</string>
                <key>spriteSize</key>
                <string>{189,96}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{307,1481},{189,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_2_txf302_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{411,150}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,1329},{411,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{439,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,333},{439,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{447,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,167},{447,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{401,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,1481},{401,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_2_txf302_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{411,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,1163},{411,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{417,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,997},{417,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{431,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,499},{431,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{431,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,665},{431,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{423,164}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{1,831},{423,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_2_txf302_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-13}</string>
                <key>spriteSize</key>
                <string>{393,138}</string>
                <key>spriteSourceSize</key>
                <string>{447,164}</string>
                <key>textureRect</key>
                <string>{{167,1481},{393,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_3_2.png</string>
            <key>size</key>
            <string>{449,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55aca5a631d5b645db495fd5824e2d96:fec5641b15d9e35bd20c7f862fa4fddf:de6bc4a2108c2060bbcd0a87bfd6fa93$</string>
            <key>textureFileName</key>
            <string>txf_3_2.png</string>
        </dict>
    </dict>
</plist>
