<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_96_2_txf9602_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{108,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{264,267},{108,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_2_txf9602_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{136,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_2_txf9602_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{136,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{1,162},{136,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_2_txf9602_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,157}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{139,1},{134,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_2_txf9602_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{132,157}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{298,1},{132,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_2_txf9602_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{130,143}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{298,135},{130,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_2_txf9602_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{126,139}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{139,137},{126,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_2_txf9602_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{116,123}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{139,265},{116,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_2_txf9602_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{94,87}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{374,267},{94,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_96_2.png</string>
            <key>size</key>
            <string>{462,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b55b07c3b24fc6aaa5d8fd9390805a:bff554ebcafd7663dbe9c18eb5c2d49c:620aea096ee9edad0ba5b72e2425169d$</string>
            <key>textureFileName</key>
            <string>txf_96_2.png</string>
        </dict>
    </dict>
</plist>
