<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_2_9_txf209_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,35}</string>
                <key>spriteSize</key>
                <string>{190,161}</string>
                <key>spriteSourceSize</key>
                <string>{258,241}</string>
                <key>textureRect</key>
                <string>{{1,988},{190,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_9_txf209_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,13}</string>
                <key>spriteSize</key>
                <string>{224,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,241}</string>
                <key>textureRect</key>
                <string>{{1,771},{224,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_9_txf209_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{248,241}</string>
                <key>spriteSourceSize</key>
                <string>{258,241}</string>
                <key>textureRect</key>
                <string>{{1,521},{248,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_9_txf209_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,241}</string>
                <key>spriteSourceSize</key>
                <string>{258,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_9_txf209_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,241}</string>
                <key>spriteSourceSize</key>
                <string>{258,241}</string>
                <key>textureRect</key>
                <string>{{1,261},{258,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_2_9.png</string>
            <key>size</key>
            <string>{243,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9f5a075b84f12549d676fa56e219e3:17010e3730f57c7b3bcaf89218350c6b:cd6e9fb65aca4b91de5cd35405c55818$</string>
            <key>textureFileName</key>
            <string>txf_2_9.png</string>
        </dict>
    </dict>
</plist>
