<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_10_txf410_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{997,577},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_10_txf410_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{580,438}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1,1},{580,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_10_txf410_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-12}</string>
                <key>spriteSize</key>
                <string>{516,410}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1017,1},{516,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_10_txf410_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{460,426}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1429,435},{460,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_10_txf410_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-10}</string>
                <key>spriteSize</key>
                <string>{512,432}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1429,1},{512,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_10_txf410_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-7}</string>
                <key>spriteSize</key>
                <string>{574,276}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{739,1},{574,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_10_txf410_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-18}</string>
                <key>spriteSize</key>
                <string>{576,296}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{441,1},{576,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_10_txf410_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-29}</string>
                <key>spriteSize</key>
                <string>{564,312}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1,583},{564,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_10_txf410_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-44}</string>
                <key>spriteSize</key>
                <string>{428,324}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{567,579},{428,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_10_txf410_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137,-49}</string>
                <key>spriteSize</key>
                <string>{416,40}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{997,803},{416,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_10_txf410_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143,-50}</string>
                <key>spriteSize</key>
                <string>{404,24}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1017,519},{404,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_10_txf410_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-149,-50}</string>
                <key>spriteSize</key>
                <string>{392,10}</string>
                <key>spriteSourceSize</key>
                <string>{690,458}</string>
                <key>textureRect</key>
                <string>{{1017,545},{392,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_10.png</string>
            <key>size</key>
            <string>{1942,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84aa7fa671e4f9dc566d2f76e4beae76:1c0c089e4acb43e34708c1b354999e8c:7391c08516b38ef50fd9af78e2ec55ec$</string>
            <key>textureFileName</key>
            <string>txf_4_10.png</string>
        </dict>
    </dict>
</plist>
