<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_16_6_txf1606_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{328,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{3651,1},{328,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_6_txf1606_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{328,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{1,713},{328,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{330,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{1461,709},{330,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{334,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{2191,707},{334,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{342,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{1461,365},{342,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{342,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{731,367},{342,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{344,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{2921,355},{344,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{344,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{2191,361},{344,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{366,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{1,1},{366,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{364,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{731,1},{364,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{362,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{1461,1},{362,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{358,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{2191,1},{358,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{352,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{2921,1},{352,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{342,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{1,369},{342,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{336,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{2921,701},{336,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_6_txf1606_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{330,728}</string>
                <key>spriteSourceSize</key>
                <string>{432,730}</string>
                <key>textureRect</key>
                <string>{{731,711},{330,728}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_16_6.png</string>
            <key>size</key>
            <string>{3980,1042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9132366b51f6840dd6bf44d21395d616:b0e8a6c3e88e663dc0e88ac532b54d76:ad12ebe71aab961a9931b2e1a95ab762$</string>
            <key>textureFileName</key>
            <string>txf_16_6.png</string>
        </dict>
    </dict>
</plist>
