<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_3_7_txf307_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{370,272}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{3323,1},{370,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_7_txf307_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,496}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{1439,1},{530,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_7_txf307_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{522,496}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{2503,1},{522,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_7_txf307_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{530,496}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{1971,1},{530,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_7_txf307_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{532,496}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{905,1},{532,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_7_txf307_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{502,456}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{1,1},{502,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_7_txf307_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{502,444}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{459,1},{502,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_7_txf307_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,59}</string>
                <key>spriteSize</key>
                <string>{468,294}</string>
                <key>spriteSourceSize</key>
                <string>{560,496}</string>
                <key>textureRect</key>
                <string>{{3027,1},{468,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_3_7.png</string>
            <key>size</key>
            <string>{3596,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6e1bc3bad2b18bc56e3d9928df88a55:68fc0966c2f219b10f7cf1e2f396f69d:c8617475491fa90e2c8b70288893a17a$</string>
            <key>textureFileName</key>
            <string>txf_3_7.png</string>
        </dict>
    </dict>
</plist>
