<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_49_2_txf4902_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,177}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,177}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,180},{201,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,896},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1073},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1250},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1427},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1604},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,177}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,359},{201,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,177}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,538},{201,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,177}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,717},{201,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1781},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,1958},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,2135},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,173}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,2666},{201,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,2312},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_49_2_txf4902_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{201,175}</string>
                <key>spriteSourceSize</key>
                <string>{201,187}</string>
                <key>textureRect</key>
                <string>{{1,2489},{201,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_49_2.png</string>
            <key>size</key>
            <string>{203,2840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2254a590c9508942c047a3019434a14:0f5fe6d1c977133fa799368a2c21c09b:4365e55e9e8b2070dd9b8a9a70150484$</string>
            <key>textureFileName</key>
            <string>txf_49_2.png</string>
        </dict>
    </dict>
</plist>
