<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_81_2_txf8102_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{479,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1,466},{479,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{483,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1151,478},{483,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{483,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1,947},{483,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,569}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{576,959},{483,569}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{483,561}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1147,963},{483,561}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{483,543}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1,1432},{483,543}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{483,543}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{546,1444},{483,543}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{483,559}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1091,1448},{483,559}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,569}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1,1929},{483,569}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{483,571}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{572,1933},{483,571}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{483,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1145,1933},{483,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{481,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{576,476},{481,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{475,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1151,1},{475,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{463,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{1,1},{463,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_81_2_txf8102_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{473,573}</string>
                <key>spriteSourceSize</key>
                <string>{485,587}</string>
                <key>textureRect</key>
                <string>{{576,1},{473,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_81_2.png</string>
            <key>size</key>
            <string>{1725,2417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ddc45e3e8f0cf81ada625f6fcb57f20:d8435cf2b5734970dee81150d688f587:df12ba717e408a09c914d8473ac3300a$</string>
            <key>textureFileName</key>
            <string>txf_81_2.png</string>
        </dict>
    </dict>
</plist>
