<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_0_53_txf053_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{89,211},{32,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_53_txf053_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{107,89},{32,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{1,91},{34,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{1,179},{34,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_53_txf053_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{1,215},{34,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_53_txf053_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{37,1},{34,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,88}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{37,89},{34,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{73,1},{34,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{32,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{73,89},{32,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{32,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{89,177},{32,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_53_txf053_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{109,1},{32,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{141,87},{32,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{30,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{175,87},{30,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{30,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{177,1},{30,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{30,82}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{177,173},{30,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{30,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{207,87},{30,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{30,82}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{209,173},{30,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{30,82}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{209,1},{30,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_53_txf053_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,96}</string>
                <key>textureRect</key>
                <string>{{143,1},{32,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_0_53.png</string>
            <key>size</key>
            <string>{240,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa50c44a6efb5011a602cc808fbd0cae:b8da5c89d4d04ceabf041d2ef20e0ce5:81f6607eda778398faf87dedda58304c$</string>
            <key>textureFileName</key>
            <string>txf_0_53.png</string>
        </dict>
    </dict>
</plist>
