<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_10_6_txf1006_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{244,242}</string>
                <key>textureRect</key>
                <string>{{731,157},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_10_6_txf1006_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,242}</string>
                <key>spriteSourceSize</key>
                <string>{244,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_10_6_txf1006_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,242}</string>
                <key>spriteSourceSize</key>
                <string>{244,242}</string>
                <key>textureRect</key>
                <string>{{247,1},{244,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_10_6_txf1006_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{236,236}</string>
                <key>spriteSourceSize</key>
                <string>{244,242}</string>
                <key>textureRect</key>
                <string>{{493,1},{236,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_10_6_txf1006_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{244,242}</string>
                <key>textureRect</key>
                <string>{{731,1},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_10_6_txf1006_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{244,242}</string>
                <key>textureRect</key>
                <string>{{887,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_10_6.png</string>
            <key>size</key>
            <string>{1032,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88b7ebae4619a09f52018c0043044c78:957d224133d66f47e0e1802e0d926e94:f9cf4cf2835531107f29517d83592487$</string>
            <key>textureFileName</key>
            <string>txf_10_6.png</string>
        </dict>
    </dict>
</plist>
