<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_3_4_txf304_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_4_txf304_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{1,53},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_4_txf304_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{62,57},{57,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{123,1},{55,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{122,58},{57,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{126,117},{59,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{1,111},{61,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{61,117},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_4_txf304_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{190,117},{59,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{187,1},{55,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{186,58},{57,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_4_txf304_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{62,1},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_3_4.png</string>
            <key>size</key>
            <string>{253,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d00a26b48851821097228fdc915759c8:9e611d0b729c5e961298d8999e0b939e:6a00e4779b242198eb2c15d72b4b68ca$</string>
            <key>textureFileName</key>
            <string>txf_3_4.png</string>
        </dict>
    </dict>
</plist>
