<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_26_5_txf_2605_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{127,82}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_5_txf_2605_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{127,82}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_5_txf_2605_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{129,60}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{194,1},{129,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_26_5_txf_2605_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{129,60}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{194,1},{129,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_26_5_txf_2605_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{129,62}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{130,1},{129,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_26_5_txf_2605_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{129,62}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{130,1},{129,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_26_5_txf_2605_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{1,85},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_5_txf_2605_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{149,90}</string>
                <key>textureRect</key>
                <string>{{1,85},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_26_5.png</string>
            <key>size</key>
            <string>{255,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5eb44e87dc422565d5194c06be39c13:c6ded8b322d7711db8d871357323b4d4:3e0fd070496b7efe5397e57e6b84d54a$</string>
            <key>textureFileName</key>
            <string>txf_26_5.png</string>
        </dict>
    </dict>
</plist>
