<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_27_2_txf2702_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-211,12}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{1315,1},{100,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_27_2_txf2702_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,-3}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-4}</string>
                <key>spriteSize</key>
                <string>{172,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{921,1},{172,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-4}</string>
                <key>spriteSize</key>
                <string>{180,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{739,1},{180,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-4}</string>
                <key>spriteSize</key>
                <string>{186,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{367,1},{186,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-4}</string>
                <key>spriteSize</key>
                <string>{198,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{167,1},{198,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{166,-4}</string>
                <key>spriteSize</key>
                <string>{182,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{555,1},{182,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{198,-4}</string>
                <key>spriteSize</key>
                <string>{140,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{1095,1},{140,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_27_2_txf2702_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{230,-10}</string>
                <key>spriteSize</key>
                <string>{76,110}</string>
                <key>spriteSourceSize</key>
                <string>{550,130}</string>
                <key>textureRect</key>
                <string>{{1237,1},{76,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_27_2.png</string>
            <key>size</key>
            <string>{1412,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fc707994f0bd6f5fa953247bec13921:613345c3df1dac0b789ad4204342f81e:639beabb12da5e297fb2f7957edc68e1$</string>
            <key>textureFileName</key>
            <string>txf_27_2.png</string>
        </dict>
    </dict>
</plist>
