<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_0_1_txf001_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-56}</string>
                <key>spriteSize</key>
                <string>{200,67}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{873,1},{200,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_1_txf001_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,5}</string>
                <key>spriteSize</key>
                <string>{670,387}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{1,1092},{670,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_0_1_txf001_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,3}</string>
                <key>spriteSize</key>
                <string>{786,375}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{1,358},{786,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_1_txf001_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{764,355}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{1,735},{764,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_1_txf001_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{870,355}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{870,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_1_txf001_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-41}</string>
                <key>spriteSize</key>
                <string>{604,309}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{390,1092},{604,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_1_txf001_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-47}</string>
                <key>spriteSize</key>
                <string>{570,303}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{390,1403},{570,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_0_1_txf001_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-26}</string>
                <key>spriteSize</key>
                <string>{332,221}</string>
                <key>spriteSourceSize</key>
                <string>{870,397}</string>
                <key>textureRect</key>
                <string>{{767,735},{332,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_0_1.png</string>
            <key>size</key>
            <string>{995,1763}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bf35b608bedd2ac79b7e82aaa37d1c:da132ae249850d7384aca09b43a39053:7b48013b79feeb562bd1db8f2df68d7f$</string>
            <key>textureFileName</key>
            <string>txf_0_1.png</string>
        </dict>
    </dict>
</plist>
