<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_96_3_txf9603_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{68,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{1,185},{68,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_3_txf9603_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{75,90},{66,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{143,90},{66,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{145,1},{66,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{68,85}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{211,90},{68,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{68,83}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{213,1},{68,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{281,86},{68,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{343,169},{66,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{351,84},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{353,1},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{423,1},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{264,177},{70,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_3_txf9603_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{411,165},{68,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_3_txf9603_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{421,82},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{283,1},{68,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{90,179},{70,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_3_txf9603_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{177,179},{70,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_3_txf9603_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{71,1},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_3_txf9603_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{72,89}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{1,94},{72,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_96_3.png</string>
            <key>size</key>
            <string>{492,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b56affed4c8e94016c1791c0c4d0dfa4:e10fc08a43cbe1d2a9a870f292ee4221:8a2236a723b8276412cdc029c49c923b$</string>
            <key>textureFileName</key>
            <string>txf_96_3.png</string>
        </dict>
    </dict>
</plist>
