<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_40_6_txf4006_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,46}</string>
                <key>spriteSize</key>
                <string>{431,190}</string>
                <key>spriteSourceSize</key>
                <string>{723,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{431,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_6_txf4006_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,43}</string>
                <key>spriteSize</key>
                <string>{693,368}</string>
                <key>spriteSourceSize</key>
                <string>{723,454}</string>
                <key>textureRect</key>
                <string>{{193,1},{693,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_40_6.png</string>
            <key>size</key>
            <string>{887,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fab01f4f03694f5b2533dd8b09fa05:44b71af40da4616e8ef7a0302f1c7515:f6a64df02aaa6760a5b39e18bfcddac2$</string>
            <key>textureFileName</key>
            <string>txf_40_6.png</string>
        </dict>
    </dict>
</plist>
