<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_86_2_txf8602_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{356,175}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{356,185}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,178},{356,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{358,185}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,365},{358,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{358,187}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,552},{358,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{360,195}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,741},{360,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{360,201}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,938},{360,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{360,201}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,1141},{360,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{360,203}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,1344},{360,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{358,203}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,1549},{358,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_86_2_txf8602_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{358,203}</string>
                <key>spriteSourceSize</key>
                <string>{380,223}</string>
                <key>textureRect</key>
                <string>{{1,1754},{358,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_86_2.png</string>
            <key>size</key>
            <string>{362,1958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f47e30f7cb8fe85a34cb1eb4df067c46:f3ee86f64944cf814a09cd15bece58d6:b273a9486eb3e8d346e399fe36220643$</string>
            <key>textureFileName</key>
            <string>txf_86_2.png</string>
        </dict>
    </dict>
</plist>
