<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_40_2_txf4002_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{667,95}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_2_txf4002_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,101}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,199},{667,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_2_txf4002_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,101}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,302},{667,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_2_txf4002_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,508},{667,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_2_txf4002_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{779,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{779,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{779,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{779,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{779,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{779,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{888,1},{667,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_2_txf4002_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,107}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,617},{667,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_2_txf4002_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{667,101}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,405},{667,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_2_txf4002_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{667,99}</string>
                <key>spriteSourceSize</key>
                <string>{667,113}</string>
                <key>textureRect</key>
                <string>{{1,98},{667,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_40_2.png</string>
            <key>size</key>
            <string>{996,725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4de4b2ba647c78dd69b8aa1426455893:9f5dd14db09640ff99c92f83acb4b11b:d0a846859792ccd297212b41e3dc59a4$</string>
            <key>textureFileName</key>
            <string>txf_40_2.png</string>
        </dict>
    </dict>
</plist>
