<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_0_txf400_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,1},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,378},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,755},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,755},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,1132},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,1132},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,1509},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,1509},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1435,1403},{715,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_0_txf400_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,1886},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,1886},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,2263},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,2263},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1435,2120},{715,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_0_txf400_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1,2640},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{718,2640},{715,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_0_txf400_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{687,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1435,1},{687,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_0_txf400_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{711,375}</string>
                <key>spriteSourceSize</key>
                <string>{715,375}</string>
                <key>textureRect</key>
                <string>{{1435,690},{711,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_0.png</string>
            <key>size</key>
            <string>{1811,3016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:038f262a57c7e41135092eee0884b874:903fc833573f6342a85a3af26bff885b:f9e8e32918c4195d8a961054ce78dd71$</string>
            <key>textureFileName</key>
            <string>txf_4_0.png</string>
        </dict>
    </dict>
</plist>
