<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_73_1_txf7301_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,2}</string>
                <key>spriteSize</key>
                <string>{786,310}</string>
                <key>spriteSourceSize</key>
                <string>{1334,412}</string>
                <key>textureRect</key>
                <string>{{1,1},{786,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_73_1_txf7301_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{1310,412}</string>
                <key>spriteSourceSize</key>
                <string>{1334,412}</string>
                <key>textureRect</key>
                <string>{{313,1},{1310,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_1_txf7301_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{1316,372}</string>
                <key>spriteSourceSize</key>
                <string>{1334,412}</string>
                <key>textureRect</key>
                <string>{{313,415},{1316,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_1_txf7301_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{1322,368}</string>
                <key>spriteSourceSize</key>
                <string>{1334,412}</string>
                <key>textureRect</key>
                <string>{{1631,307},{1322,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_1_txf7301_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{1328,304}</string>
                <key>spriteSourceSize</key>
                <string>{1334,412}</string>
                <key>textureRect</key>
                <string>{{1625,1},{1328,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_73_1.png</string>
            <key>size</key>
            <string>{2954,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2083795b6659a078d9569bd5fd2b0ea5:32140c26165c91c5a2f8377278f80d08:b7b1412a3b8b0120c26a323eae28df88$</string>
            <key>textureFileName</key>
            <string>txf_73_1.png</string>
        </dict>
    </dict>
</plist>
