<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_20_txf420_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{617,375}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1621,1},{617,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_20_txf420_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-37}</string>
                <key>spriteSize</key>
                <string>{797,429}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,955},{797,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-21}</string>
                <key>spriteSize</key>
                <string>{811,461}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{811,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{805,477}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{814,1},{805,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-5}</string>
                <key>spriteSize</key>
                <string>{797,493}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{806,925},{797,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{779,501}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,2382},{779,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{795,501}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1386},{795,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,6}</string>
                <key>spriteSize</key>
                <string>{803,489}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,464},{803,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{795,489}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{798,1420},{795,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{791,489}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{794,1911},{791,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{791,491}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1889},{791,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,29}</string>
                <key>spriteSize</key>
                <string>{801,443}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{806,480},{801,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,19}</string>
                <key>spriteSize</key>
                <string>{773,421}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1587,1952},{773,421}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_20_txf420_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,32}</string>
                <key>spriteSize</key>
                <string>{781,411}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1605,1169},{781,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_20_txf420_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,3}</string>
                <key>spriteSize</key>
                <string>{547,343}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1609,620},{547,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_20_txf420_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{457,343}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1239,2402},{457,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_20_txf420_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-67}</string>
                <key>spriteSize</key>
                <string>{455,141}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{782,2727},{455,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-67}</string>
                <key>spriteSize</key>
                <string>{455,141}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{782,2402},{455,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-68}</string>
                <key>spriteSize</key>
                <string>{449,139}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{782,2545},{449,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_20_txf420_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-70}</string>
                <key>spriteSize</key>
                <string>{435,135}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1584,2727},{435,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_20.png</string>
            <key>size</key>
            <string>{2020,2884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a20acf44fba4a9130db76ba4a9a6dd:0e71b00c615bcc32a8d1d2a8f34787e3:f3bdd0afe8212162e022d781b06d8ca8$</string>
            <key>textureFileName</key>
            <string>txf_4_20.png</string>
        </dict>
    </dict>
</plist>
