<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_58_2_txf5802_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{444,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,2881},{444,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{518,330}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{607,2361},{518,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_58_2_txf5802_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{586,358}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{613,1773},{586,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_58_2_txf5802_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{586,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{633,1185},{586,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_58_2_txf5802_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{588,362}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{635,595},{588,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_58_2_txf5802_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{592,358}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{645,1},{592,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_58_2_txf5802_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{604,356}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,2069},{604,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{610,354}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,1713},{610,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{630,356}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,683},{630,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{630,348}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,1041},{630,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{632,344}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,337},{632,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{642,334}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{642,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{628,320}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,1391},{628,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-18}</string>
                <key>spriteSize</key>
                <string>{586,280}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{1,2427},{586,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_58_2_txf5802_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-10}</string>
                <key>spriteSize</key>
                <string>{526,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,372}</string>
                <key>textureRect</key>
                <string>{{447,2881},{526,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_58_2.png</string>
            <key>size</key>
            <string>{1004,3138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29373a7c87675688e3c206f83b07cd59:0bc96e2c12ddf8acf41a7cbef3885329:8145f32a27555fa4afd106b7f2565bb7$</string>
            <key>textureFileName</key>
            <string>txf_58_2.png</string>
        </dict>
    </dict>
</plist>
