<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_3_20_txf320_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{264,84}</string>
                <key>spriteSourceSize</key>
                <string>{348,256}</string>
                <key>textureRect</key>
                <string>{{1,513},{264,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_20_txf320_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{282,236}</string>
                <key>spriteSourceSize</key>
                <string>{348,256}</string>
                <key>textureRect</key>
                <string>{{271,363},{282,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_20_txf320_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{276,256}</string>
                <key>spriteSourceSize</key>
                <string>{348,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_20_txf320_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-2}</string>
                <key>spriteSize</key>
                <string>{268,252}</string>
                <key>spriteSourceSize</key>
                <string>{348,256}</string>
                <key>textureRect</key>
                <string>{{1,259},{268,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_20_txf320_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-9}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{348,256}</string>
                <key>textureRect</key>
                <string>{{279,183},{184,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_3_20_txf320_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-8}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{348,256}</string>
                <key>textureRect</key>
                <string>{{279,1},{188,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_3_20.png</string>
            <key>size</key>
            <string>{508,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bfa3755bf3274b86c10f58bd14ad94f:c286d440b4f28f03fc407536f2247062:013cf93aa2f091d8b0692bb508ad23f8$</string>
            <key>textureFileName</key>
            <string>txf_3_20.png</string>
        </dict>
    </dict>
</plist>
