<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_26_4_txf_2604_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,157},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,313},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,469},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,625},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,781},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,937},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1093},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1249},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1405},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1561},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1717},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,1873},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,2029},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,2185},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_4_txf_2604_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{123,154}</string>
                <key>spriteSourceSize</key>
                <string>{129,164}</string>
                <key>textureRect</key>
                <string>{{1,2341},{123,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_26_4.png</string>
            <key>size</key>
            <string>{125,2496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a12187f211c4c1640e385363ea66762:dbe9c7e0471e0f74dca203dc171592f8:bbe1e1e653acdafdff3c6d913201ac4e$</string>
            <key>textureFileName</key>
            <string>txf_26_4.png</string>
        </dict>
    </dict>
</plist>
