<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_17_4_txf1704_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{1334,514}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{2585,1239},{1334,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_17_4_txf1704_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,16}</string>
                <key>spriteSize</key>
                <string>{1236,310}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{2589,1},{1236,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_17_4_txf1704_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1505},{1290,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{1294,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1294,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{1290,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1297,1},{1290,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{1290,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,753},{1290,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{1290,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1293,753},{1290,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{1290,564}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,3205},{1290,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{1290,586}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1293,3199},{1290,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-36}</string>
                <key>spriteSize</key>
                <string>{1290,622}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1293,2575},{1290,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-61}</string>
                <key>spriteSize</key>
                <string>{1290,628}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,2575},{1290,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1293,1505},{1290,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,2035},{1290,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1293,2035},{1290,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_17_4_txf1704_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,12}</string>
                <key>spriteSize</key>
                <string>{986,182}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{2901,1},{986,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_17_4.png</string>
            <key>size</key>
            <string>{3100,3786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d568711871727f62160a1db5f16e5e96:653bbb17ac35e0c3920945820e5bfb9b:fca20af744e1bfa55882fa8233390cf5$</string>
            <key>textureFileName</key>
            <string>txf_17_4.png</string>
        </dict>
    </dict>
</plist>
