<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_73_6_txf7306_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,32}</string>
                <key>spriteSize</key>
                <string>{478,534}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{1,1771},{478,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_73_6_txf7306_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,20}</string>
                <key>spriteSize</key>
                <string>{550,566}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{1,1219},{550,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_73_6_txf7306_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{624,596}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{1,621},{624,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_6_txf7306_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{660,618}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_6_txf7306_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{402,526}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{569,1755},{402,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_6_txf7306_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,35}</string>
                <key>spriteSize</key>
                <string>{410,534}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{569,1219},{410,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_73_6_txf7306_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,25}</string>
                <key>spriteSize</key>
                <string>{362,508}</string>
                <key>spriteSourceSize</key>
                <string>{660,658}</string>
                <key>textureRect</key>
                <string>{{627,621},{362,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_73_6.png</string>
            <key>size</key>
            <string>{990,2282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab6bf9c7dc427678904497cb92f8936f:baa847d9a2f94a479f30669b0aa3a4eb:3725bdc6969cb01190acefe07cbe15c4$</string>
            <key>textureFileName</key>
            <string>txf_73_6.png</string>
        </dict>
    </dict>
</plist>
