<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_59_2_txf5902_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{169,244}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,1641},{169,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_59_2_txf5902_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{167,254}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{247,1641},{167,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_59_2_txf5902_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{167,264}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{333,783},{167,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{163,270}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,1095},{163,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{161,272}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,1367},{161,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{155,274}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{351,1},{155,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{157,272}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{164,1367},{157,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{163,272}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,273},{163,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{165,268}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{166,823},{165,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{167,260}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{335,1049},{167,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,19}</string>
                <key>spriteSize</key>
                <string>{173,248}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{333,533},{173,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{173,254}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{333,277},{173,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{175,264}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{174,1},{175,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{171,270}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{163,272}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,547},{163,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{157,274}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{166,273},{157,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{161,272}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{166,549},{161,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{163,272}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{1,821},{163,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{167,268}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{166,1093},{167,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_2_txf5902_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{167,258}</string>
                <key>spriteSourceSize</key>
                <string>{183,288}</string>
                <key>textureRect</key>
                <string>{{323,1363},{167,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_59_2.png</string>
            <key>size</key>
            <string>{507,1811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6304c98799084f4d59f425c346627d:e291b93ea90311d42cb05fad338f046c:fc098d73f8259f28898e0183ae72f659$</string>
            <key>textureFileName</key>
            <string>txf_59_2.png</string>
        </dict>
    </dict>
</plist>
