<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_80_4_txf8004_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{560,182}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{183,2795},{560,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{560,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,3353},{560,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{560,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{183,3357},{560,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{558,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1115},{558,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{558,178}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{185,1675},{558,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{558,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,2233},{558,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{556,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{185,1},{556,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{556,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,557},{556,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{556,182}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{183,559},{556,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{554,182}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{554,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{556,182}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{183,1117},{556,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{556,182}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1675},{556,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{558,182}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{183,2235},{558,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_4_txf8004_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{558,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,2793},{558,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_80_4.png</string>
            <key>size</key>
            <string>{366,3918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf477055bee741b7125aecc6fc97c32d:ac54c3556282bf7e26d1cd6adba608f5:55056a5cc0b2d49a1b5b5516cedbf9f5$</string>
            <key>textureFileName</key>
            <string>txf_80_4.png</string>
        </dict>
    </dict>
</plist>
