<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_21_txf421_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-71}</string>
                <key>spriteSize</key>
                <string>{435,133}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1534},{435,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-70}</string>
                <key>spriteSize</key>
                <string>{433,135}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1669},{433,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-69}</string>
                <key>spriteSize</key>
                <string>{431,137}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1806},{431,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-69}</string>
                <key>spriteSize</key>
                <string>{425,137}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,2080},{425,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-69}</string>
                <key>spriteSize</key>
                <string>{417,137}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,2219},{417,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-70}</string>
                <key>spriteSize</key>
                <string>{401,139}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,2358},{401,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_21_txf421_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-72}</string>
                <key>spriteSize</key>
                <string>{401,137}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{142,2358},{401,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_21_txf421_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-72}</string>
                <key>spriteSize</key>
                <string>{401,135}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{281,2358},{401,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_21_txf421_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-71}</string>
                <key>spriteSize</key>
                <string>{427,133}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1945},{427,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-71}</string>
                <key>spriteSize</key>
                <string>{443,133}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1262},{443,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-71}</string>
                <key>spriteSize</key>
                <string>{451,133}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,986},{451,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-70}</string>
                <key>spriteSize</key>
                <string>{459,135}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,420},{459,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-69}</string>
                <key>spriteSize</key>
                <string>{463,137}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{463,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-69}</string>
                <key>spriteSize</key>
                <string>{463,137}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,140},{463,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-68}</string>
                <key>spriteSize</key>
                <string>{461,139}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,279},{461,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-67}</string>
                <key>spriteSize</key>
                <string>{457,141}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,557},{457,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-67}</string>
                <key>spriteSize</key>
                <string>{455,141}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,700},{455,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-67}</string>
                <key>spriteSize</key>
                <string>{455,141}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,843},{455,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-68}</string>
                <key>spriteSize</key>
                <string>{449,139}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1121},{449,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_21_txf421_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-70}</string>
                <key>spriteSize</key>
                <string>{435,135}</string>
                <key>spriteSourceSize</key>
                <string>{889,503}</string>
                <key>textureRect</key>
                <string>{{1,1397},{435,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_21.png</string>
            <key>size</key>
            <string>{465,2760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d166c16c4f024c765256e7dbbd078f69:fb4649b16c1900e2e3d665e21ba4632a:cb7a26866eb038be5a0bbcefc112f1e9$</string>
            <key>textureFileName</key>
            <string>txf_4_21.png</string>
        </dict>
    </dict>
</plist>
