<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_16_2_txf1602_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{302,185}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{313,1207},{302,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_2_txf1602_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{304,183}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,1075},{304,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{306,181}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,892},{306,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{308,179}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,711},{308,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{310,181}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{315,1511},{310,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_2_txf1602_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{310,179}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,1260},{310,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{310,179}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,1441},{310,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{312,179}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,1622},{312,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{312,177}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,353},{312,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{310,173}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{308,175}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,176},{308,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{304,177}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{1,532},{304,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_2_txf1602_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{300,177}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{315,301},{300,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_2_txf1602_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{300,179}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{311,603},{300,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_2_txf1602_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{298,181}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{313,1},{298,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_2_txf1602_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{300,181}</string>
                <key>spriteSourceSize</key>
                <string>{342,237}</string>
                <key>textureRect</key>
                <string>{{309,905},{300,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_16_2.png</string>
            <key>size</key>
            <string>{499,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b0610f0d37640d5fd04ba1db38ad2e7:b7f489196b1e394e1a51c17c437cb877:8ea5d333db29412d52854b2c4bde6544$</string>
            <key>textureFileName</key>
            <string>txf_16_2.png</string>
        </dict>
    </dict>
</plist>
