<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_3_8_txf308_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,3}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{1,1315},{211,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,2}</string>
                <key>spriteSize</key>
                <string>{327,188}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{1,324},{327,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,2}</string>
                <key>spriteSize</key>
                <string>{331,178}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{1,653},{331,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,1}</string>
                <key>spriteSize</key>
                <string>{327,146}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{1,986},{327,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{267,78}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{149,986},{267,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{263,80}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{1,1528},{263,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{257,74}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{83,1528},{257,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{255,70}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{159,1528},{255,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{251,68}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{181,653},{251,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{245,60}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{189,1255},{245,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{241,58}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{191,324},{241,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{237,30}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{199,1},{237,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_3_8_txf308_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,-17}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{393,200}</string>
                <key>textureRect</key>
                <string>{{181,906},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_3_8.png</string>
            <key>size</key>
            <string>{250,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:184f1deebd51922a00cae5813da128c4:48943db2a605534470486c4cbaa97a5b:8595d1897a6aa9f96c6777822b719503$</string>
            <key>textureFileName</key>
            <string>txf_3_8.png</string>
        </dict>
    </dict>
</plist>
