<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_8_4_txf804_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{192,76}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{2781,1},{192,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{196,78}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{2359,1},{196,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{198,78}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{2159,1},{198,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{202,78}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{1955,1},{202,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{206,78}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{1747,1},{206,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{208,80}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{1093,1},{208,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{212,80}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{879,1},{212,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{663,1},{214,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{218,80}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{223,1},{218,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{218,80}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{443,1},{218,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{220,78}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{1303,1},{220,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{220,78}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{1525,1},{220,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{222,76}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{2557,1},{222,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{222,74}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{3201,1},{222,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_8_4_txf804_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{224,74}</string>
                <key>spriteSourceSize</key>
                <string>{230,84}</string>
                <key>textureRect</key>
                <string>{{2975,1},{224,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_8_4.png</string>
            <key>size</key>
            <string>{3424,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a9e871264fe959e55e7ad5401a78f6:ee0908d0b023386e4ed02c7ad6a79979:2b4d16ed51949ed460e590bc79fe1b09$</string>
            <key>textureFileName</key>
            <string>txf_8_4.png</string>
        </dict>
    </dict>
</plist>
