<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_59_1_txf5901_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-318,-6}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3719,116},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{670,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1339,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2008,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,1},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2677,378},{667,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_59_1_txf5901_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{667,371}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,1},{667,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_59_1_txf5901_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{252,-43}</string>
                <key>spriteSize</key>
                <string>{113,91}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3719,1},{113,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_59_1_txf5901_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{300,-42}</string>
                <key>spriteSize</key>
                <string>{67,77}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{3346,670},{67,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_59_1.png</string>
            <key>size</key>
            <string>{3811,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95ecaba0c6ee68874700899312c6c74:7812ea983dce694db5d79f18c4ebd7a0:b161693dbded7577d07c79bb80aa4bff$</string>
            <key>textureFileName</key>
            <string>txf_59_1.png</string>
        </dict>
    </dict>
</plist>
