<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_30_txf430_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{215,104}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1153,560},{215,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_30_txf430_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,33}</string>
                <key>spriteSize</key>
                <string>{555,288}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1370,639},{555,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_30_txf430_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,25}</string>
                <key>spriteSize</key>
                <string>{511,304}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1403,333},{511,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_30_txf430_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{535,330}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1403,1},{535,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_30_txf430_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{557,358}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,650},{557,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_30_txf430_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{567,370}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{703,1},{567,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_30_txf430_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,27}</string>
                <key>spriteSize</key>
                <string>{591,372}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{560,626},{591,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_30_txf430_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{623,366}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{335,1},{623,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_30_txf430_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{647,332}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{647,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_4_30_txf430_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,31}</string>
                <key>spriteSize</key>
                <string>{557,326}</string>
                <key>spriteSourceSize</key>
                <string>{743,436}</string>
                <key>textureRect</key>
                <string>{{1075,1},{557,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_30.png</string>
            <key>size</key>
            <string>{1939,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eef991558466d1bda6fd6bf78ef2470:71f0cc7f83e0f0a6aa98f2a7a63e6980:093457bcbbca1c40c054b66e52112ab3$</string>
            <key>textureFileName</key>
            <string>txf_4_30.png</string>
        </dict>
    </dict>
</plist>
