<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_26_1_txf2601_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{217,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{289,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{361,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{433,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{70,442}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{937,1},{70,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{70,440}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{1081,1},{70,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{70,450}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{865,1},{70,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{70,442}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{1009,1},{70,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{505,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{577,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{649,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{721,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_1_txf2601_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{70,452}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{793,1},{70,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_26_1.png</string>
            <key>size</key>
            <string>{1152,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0088f47dc7182e6e450dd18b75a23a10:68de6bb27cd063216d5d5add76e38292:9499a5da178bcaec56ab2dde9f2b8629$</string>
            <key>textureFileName</key>
            <string>txf_26_1.png</string>
        </dict>
    </dict>
</plist>
