<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_40_10_txf4010_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{134,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{531,1},{134,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_10_txf4010_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{218,222}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_10_txf4010_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{154,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{221,1},{154,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_10_txf4010_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{152,220}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{377,1},{152,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_10_txf4010_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,176}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{953,1},{122,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_10_txf4010_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{116,174}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{953,125},{116,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_10_txf4010_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{667,1},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_10_txf4010_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{811,1},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_10_txf4010_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,4}</string>
                <key>spriteSize</key>
                <string>{72,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,270}</string>
                <key>textureRect</key>
                <string>{{667,169},{72,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_40_10.png</string>
            <key>size</key>
            <string>{1130,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2508869fa891738677cd8017e28fd20:043734fec4c78000c7a45a80b43f4ca9:a8177c06c37fb167e7e96410adc0b728$</string>
            <key>textureFileName</key>
            <string>txf_40_10.png</string>
        </dict>
    </dict>
</plist>
