<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_2_12_txf212_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{561,70}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{940,1},{561,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_12_txf212_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{541,72}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{938,564},{541,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_12_txf212_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{561,308}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{1,1119},{561,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{561,364}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{1,753},{561,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,374}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{1,1},{561,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{561,374}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{564,1},{561,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_12_txf212_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{561,374}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{1,377},{561,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{365,372}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{564,564},{365,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_12_txf212_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{355,362}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{564,931},{355,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_2_12_txf212_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{345,356}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{1,1429},{345,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{337,342}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{348,1429},{337,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{321,312}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{687,1288},{321,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{267,58}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{687,1602},{267,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{267,58}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{687,1662},{267,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_2_12_txf212_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{267,58}</string>
                <key>spriteSourceSize</key>
                <string>{565,388}</string>
                <key>textureRect</key>
                <string>{{687,1722},{267,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_2_12.png</string>
            <key>size</key>
            <string>{1011,1786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6efe6fe5cb446eff2dfce7077efb2e18:40d2ff99eec7522f43b436d7e90fff85:8453faef23a809c06f6b8b9f949e5f1f$</string>
            <key>textureFileName</key>
            <string>txf_2_12.png</string>
        </dict>
    </dict>
</plist>
