<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_100_2_txf10002_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{147,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2503,1},{147,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{147,102}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1233,1},{147,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{147,102}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1382,1},{147,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{147,102}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1531,1},{147,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{147,104}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{623,1},{147,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{147,104}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{772,1},{147,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{147,106}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{147,106}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{150,1},{147,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{147,104}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{921,1},{147,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{159,104}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{462,1},{159,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,104}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{299,1},{161,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{159,98}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2817,1},{159,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{159,98}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2978,1},{159,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2652,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1680,1},{163,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1845,1},{163,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2010,1},{163,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2175,1},{163,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{161,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{2340,1},{161,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_2_txf10002_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,102}</string>
                <key>spriteSourceSize</key>
                <string>{173,120}</string>
                <key>textureRect</key>
                <string>{{1070,1},{161,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_100_2.png</string>
            <key>size</key>
            <string>{3138,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90c0bd63981ea7e80386ddcfb54fd2b7:c00310941f99b9f814313cd91cff56cf:55deb22d4c76ecce924c2dd3d6201f26$</string>
            <key>textureFileName</key>
            <string>txf_100_2.png</string>
        </dict>
    </dict>
</plist>
