<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_97_2_txf_9702_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,50}</string>
                <key>spriteSize</key>
                <string>{724,118}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,1729},{724,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{730,378}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,625},{730,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{726,366}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,1005},{726,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{724,354}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,1373},{724,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{704,338}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,1849},{704,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,4}</string>
                <key>spriteSize</key>
                <string>{670,308}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,2515},{670,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,27}</string>
                <key>spriteSize</key>
                <string>{686,324}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,2189},{686,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,22}</string>
                <key>spriteSize</key>
                <string>{718,284}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{733,651},{718,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_97_2_txf_9702_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,41}</string>
                <key>spriteSize</key>
                <string>{754,306}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,317},{754,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,46}</string>
                <key>spriteSize</key>
                <string>{786,314}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,1},{786,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,48}</string>
                <key>spriteSize</key>
                <string>{638,316}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{707,2023},{638,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_97_2_txf_9702_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,26}</string>
                <key>spriteSize</key>
                <string>{640,264}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{649,3307},{640,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_97_2_txf_9702_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,29}</string>
                <key>spriteSize</key>
                <string>{646,270}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,3057},{646,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,33}</string>
                <key>spriteSize</key>
                <string>{642,276}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{673,2663},{642,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_97_2_txf_9702_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,36}</string>
                <key>spriteSize</key>
                <string>{650,276}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{729,1371},{650,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_97_2_txf_9702_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,16}</string>
                <key>spriteSize</key>
                <string>{646,224}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,3329},{646,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,17}</string>
                <key>spriteSize</key>
                <string>{650,230}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,2825},{650,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,18}</string>
                <key>spriteSize</key>
                <string>{648,232}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{789,1},{648,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_97_2_txf_9702_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,18}</string>
                <key>spriteSize</key>
                <string>{598,236}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,3707},{598,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_97_2_txf_9702_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,64}</string>
                <key>spriteSize</key>
                <string>{606,150}</string>
                <key>spriteSourceSize</key>
                <string>{820,426}</string>
                <key>textureRect</key>
                <string>{{1,3555},{606,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_97_2.png</string>
            <key>size</key>
            <string>{1024,3948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d60daafe2f79184f2bacfa2d31948f5:f1d49f643f603345330b0b42cc6a588c:f1d14ac4243f4ea34bbe27ecc81a4e6f$</string>
            <key>textureFileName</key>
            <string>txf_97_2.png</string>
        </dict>
    </dict>
</plist>
