<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_6_5_txf605_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{1334,496}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1297,1},{1334,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_6_5_txf605_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{1250,298}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,3337},{1250,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{753,753},{1290,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_6_5_txf605_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{1294,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1294,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{1290,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,753},{1290,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_6_5_txf605_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{1290,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1283,1337},{1290,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{1290,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,2045},{1290,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_6_5_txf605_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{1290,564}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1283,2677},{1290,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{1290,586}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1283,2089},{1290,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-36}</string>
                <key>spriteSize</key>
                <string>{1290,622}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1795,631},{1290,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-61}</string>
                <key>spriteSize</key>
                <string>{1290,628}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1795,1},{1290,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{753,2045},{1290,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_6_5_txf605_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1283,3243},{1290,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_6_5_txf605_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{1290,528}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{2575,1255},{1290,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_6_5_txf605_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,9}</string>
                <key>spriteSize</key>
                <string>{986,176}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,3637},{986,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_6_5.png</string>
            <key>size</key>
            <string>{3104,3814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bca53050f4a5edfcb10e962fa63ed65:9292d605544a65cc6dcf2fa5df0b4672:5076ec5ecca501b78301e778ce55288a$</string>
            <key>textureFileName</key>
            <string>txf_6_5.png</string>
        </dict>
    </dict>
</plist>
