<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_80_2_txf8002_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{588,208}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1041},{588,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{590,208}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1251},{590,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{590,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{590,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{590,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,209},{590,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{588,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,417},{588,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{584,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,625},{584,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{582,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{801,1},{582,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_2_txf8002_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{580,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{593,1},{580,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_2_txf8002_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{582,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,833},{582,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{582,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{591,583},{582,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_2_txf8002_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{582,206}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{799,585},{582,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_2_txf8002_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{582,208}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{1,1461},{582,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_80_2_txf8002_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{582,208}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{593,1169},{582,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_80_2_txf8002_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{584,208}</string>
                <key>spriteSourceSize</key>
                <string>{900,300}</string>
                <key>textureRect</key>
                <string>{{803,1169},{584,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_80_2.png</string>
            <key>size</key>
            <string>{1012,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9fa70c2f404de345acc9c45b194e43:a56732ddb9c223d71474832334c9e9d7:b755869129da3f54a59181b6d7ca15d9$</string>
            <key>textureFileName</key>
            <string>txf_80_2.png</string>
        </dict>
    </dict>
</plist>
