<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_4_50_txf450_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-10}</string>
                <key>spriteSize</key>
                <string>{391,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1278,1},{391,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-10}</string>
                <key>spriteSize</key>
                <string>{395,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1242,1633},{395,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-10}</string>
                <key>spriteSize</key>
                <string>{399,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1242,1225},{399,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-10}</string>
                <key>spriteSize</key>
                <string>{401,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1252,817},{401,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-10}</string>
                <key>spriteSize</key>
                <string>{403,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1264,409},{403,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{407,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{833,1225},{407,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{407,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{833,1633},{407,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{409,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{841,817},{409,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-10}</string>
                <key>spriteSize</key>
                <string>{411,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{851,409},{411,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-10}</string>
                <key>spriteSize</key>
                <string>{411,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{420,1225},{411,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-10}</string>
                <key>spriteSize</key>
                <string>{411,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{420,1633},{411,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{413,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{426,817},{413,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{417,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1,1225},{417,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{421,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{428,409},{421,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{425,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1,409},{425,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{427,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1,1},{427,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{417,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1,1633},{417,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{419,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{857,1},{419,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{423,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{1,817},{423,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_4_50_txf450_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{425,406}</string>
                <key>spriteSourceSize</key>
                <string>{441,426}</string>
                <key>textureRect</key>
                <string>{{430,1},{425,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_4_50.png</string>
            <key>size</key>
            <string>{1670,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ce072f3d2945f54da8c40072fdf432:3eb9254bf05e87e00c5721da939f657e:8c22707ad08719be3f62b69e6ab09e5c$</string>
            <key>textureFileName</key>
            <string>txf_4_50.png</string>
        </dict>
    </dict>
</plist>
