<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_40_4_txf4004_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,6}</string>
                <key>spriteSize</key>
                <string>{294,136}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{797,363},{294,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_40_4_txf4004_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{944,360}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{944,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_40_4_txf4004_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,4}</string>
                <key>spriteSize</key>
                <string>{794,352}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{1,363},{794,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_40_4.png</string>
            <key>size</key>
            <string>{946,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb0b9f66e103aef4cdf4e0728fe27971:765d0f05c53c68e02b926bb13fdcfc40:07893a6e0dcfbc9da3ee119a18790013$</string>
            <key>textureFileName</key>
            <string>txf_40_4.png</string>
        </dict>
    </dict>
</plist>
