<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_100_4_txf10004_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-226,36}</string>
                <key>spriteSize</key>
                <string>{262,350}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3493,1679},{262,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-176,21}</string>
                <key>spriteSize</key>
                <string>{368,380}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3147,1097},{368,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,21}</string>
                <key>spriteSize</key>
                <string>{412,374}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3117,1477},{412,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-133,14}</string>
                <key>spriteSize</key>
                <string>{460,372}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2743,1517},{460,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,17}</string>
                <key>spriteSize</key>
                <string>{512,366}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{695,1623},{512,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_4_txf10004_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,13}</string>
                <key>spriteSize</key>
                <string>{580,358}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3529,1097},{580,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,17}</string>
                <key>spriteSize</key>
                <string>{634,348}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3247,353},{634,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_4_txf10004_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,16}</string>
                <key>spriteSize</key>
                <string>{662,350}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3247,1},{662,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_4_txf10004_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{692,362}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1,1625},{692,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_4_txf10004_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{728,368}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2777,747},{728,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{752,378}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2397,763},{752,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-7}</string>
                <key>spriteSize</key>
                <string>{782,390}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1207,791},{782,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-10}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{417,1},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{762,390}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2005,765},{762,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-13}</string>
                <key>spriteSize</key>
                <string>{784,392}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{813,791},{784,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{411,821},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-16}</string>
                <key>spriteSize</key>
                <string>{802,408}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1,821},{802,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-19}</string>
                <key>spriteSize</key>
                <string>{818,414}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{818,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{788,420}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{811,1},{788,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-17}</string>
                <key>spriteSize</key>
                <string>{756,414}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1985,1551},{756,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_4_txf10004_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-21}</string>
                <key>spriteSize</key>
                <string>{776,412}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1233,1},{776,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-22}</string>
                <key>spriteSize</key>
                <string>{774,414}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1209,1575},{774,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_100_4_txf10004_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-27}</string>
                <key>spriteSize</key>
                <string>{770,404}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1599,779},{770,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-25}</string>
                <key>spriteSize</key>
                <string>{762,404}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{1647,1},{762,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-19}</string>
                <key>spriteSize</key>
                <string>{760,394}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2053,1},{760,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{744,398}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2449,1},{744,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{704,396}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{2849,1},{704,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_100_4_txf10004_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-16}</string>
                <key>spriteSize</key>
                <string>{694,388}</string>
                <key>spriteSourceSize</key>
                <string>{880,460}</string>
                <key>textureRect</key>
                <string>{{3147,707},{694,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_100_4.png</string>
            <key>size</key>
            <string>{3910,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:658c3d7f0bd3ac444686663070418fad:483e0bbec84e44985bd69c77ea192c41:bb20895168305b3b851b065d0fb08e35$</string>
            <key>textureFileName</key>
            <string>txf_100_4.png</string>
        </dict>
    </dict>
</plist>
