<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_26_2_txf_2602_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{212,241}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{589,1362},{212,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_26_2_txf_2602_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{276,267}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{591,824},{276,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{286,271}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{597,278},{286,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{290,273}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{297,836},{290,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{292,275}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{297,559},{292,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{294,275}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{597,1},{294,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{294,277}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{1,559},{294,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{296,277}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{296,277}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{1,280},{296,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{296,277}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{299,1},{296,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{294,277}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{299,280},{294,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{294,275}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{1,838},{294,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{292,275}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{1,1115},{292,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{290,273}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{297,1111},{290,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{286,271}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{595,551},{286,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_2_txf_2602_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{276,267}</string>
                <key>spriteSourceSize</key>
                <string>{298,281}</string>
                <key>textureRect</key>
                <string>{{589,1093},{276,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_26_2.png</string>
            <key>size</key>
            <string>{892,1575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbfa4786b051f6800abc1fc736945aee:bf2d2abeed896c4e6354f04a2dfa59b2:3854e4a239966955b70849c4099012b5$</string>
            <key>textureFileName</key>
            <string>txf_26_2.png</string>
        </dict>
    </dict>
</plist>
