<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_26_6_txf_2606_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{60,229}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{61,782},{60,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{60,229}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{61,1013},{60,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,229}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,778},{58,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{58,225}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,1009},{58,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{56,227}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,1236},{56,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{54,227}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,1465},{54,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{56,221}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{59,1244},{56,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{54,217}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{57,1682},{54,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{52,203}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,1694},{52,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{58,213}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{57,1467},{58,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{58,259}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{63,1},{58,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{60,257}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,262},{60,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{60,259}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{58,259}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{63,262},{58,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{56,257}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{61,523},{56,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_26_6_txf_2606_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{58,255}</string>
                <key>spriteSourceSize</key>
                <string>{108,291}</string>
                <key>textureRect</key>
                <string>{{1,521},{58,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_26_6.png</string>
            <key>size</key>
            <string>{122,1900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7263de6aed196b82e154511984f2d88:ba8df45074e9c4e245fa46eb3410b9d0:0d70132c2ec11ed462287a6d0a3f5451$</string>
            <key>textureFileName</key>
            <string>txf_26_6.png</string>
        </dict>
    </dict>
</plist>
