<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_16_9_txf1609_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{139,159}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,2786},{139,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{143,161}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,2623},{143,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{145,161}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,2460},{145,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,2132},{147,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{153,147}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,520},{153,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{153,149}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,369},{153,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{161,149}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1802},{161,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_9_txf1609_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{159,137}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,2947},{159,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_16_9_txf1609_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{153,139}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,818},{153,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{153,139}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,959},{153,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{153,147}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,669},{153,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{135,159}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,3108},{135,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{147,161}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,2297},{147,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{147,165}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1965},{147,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{151,169}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1277},{151,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{149,173}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1627},{149,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{149,177}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1448},{149,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{151,175}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1100},{151,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{153,183}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,184},{153,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_9_txf1609_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{155,181}</string>
                <key>spriteSourceSize</key>
                <string>{193,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_16_9.png</string>
            <key>size</key>
            <string>{157,3268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5886a47389de40e969223faeaeb42527:2d48c7ae14f5503ef06b92e22c2ac40e:81718dafdd583488cc62950627a73121$</string>
            <key>textureFileName</key>
            <string>txf_16_9.png</string>
        </dict>
    </dict>
</plist>
