<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_16_4_txf1604_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,0}</string>
                <key>spriteSize</key>
                <string>{87,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{70,1},{87,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,0}</string>
                <key>spriteSize</key>
                <string>{85,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{1,41},{85,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,0}</string>
                <key>spriteSize</key>
                <string>{83,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{159,1},{83,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{81,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{88,41},{81,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{1,81},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{80,81},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,0}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{159,81},{75,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,0}</string>
                <key>spriteSize</key>
                <string>{71,38}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{171,41},{71,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_16_4_txf1604_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-2}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{343,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_16_4.png</string>
            <key>size</key>
            <string>{243,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15d6c021051be980f2afc2e4a3cf8368:cda351ac3f491bc9c2bae8181254c744:17bfce31dcb6a26c0242cc7bdd946303$</string>
            <key>textureFileName</key>
            <string>txf_16_4.png</string>
        </dict>
    </dict>
</plist>
