<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_96_1_txf9601_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1652,1},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,103}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1442,1},{106,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1218,1},{114,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,115}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{984,1},{118,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{744,1},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{129,1},{122,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{492,1},{124,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{618,1},{124,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{250,1},{122,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{371,1},{122,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{865,1},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1101,1},{116,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1331,1},{112,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,103}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1547,1},{104,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1652,1},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,103}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1442,1},{106,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1218,1},{114,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,115}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{984,1},{118,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{744,1},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{129,1},{122,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{492,1},{124,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{618,1},{124,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_96_1_txf9601_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{250,1},{122,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{122,119}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{371,1},{122,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{865,1},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1101,1},{116,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1331,1},{112,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_96_1_txf9601_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,103}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1547,1},{104,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_96_1.png</string>
            <key>size</key>
            <string>{1727,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519de8def0ca9e8089557e68afee1d6a:cc8aadab14ece681eff3fbd0b9828493:bbe446562e75c6bf1d8ea17bf98cf7b8$</string>
            <key>textureFileName</key>
            <string>txf_96_1.png</string>
        </dict>
    </dict>
</plist>
