<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txf_20_2_txf2002_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{798,96}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{99,1919},{798,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_20_2_txf2002_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{770,96}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{1,1263},{770,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_20_2_txf2002_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{798,438}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{798,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_20_2_txf2002_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,14}</string>
                <key>spriteSize</key>
                <string>{798,426}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{1,441},{798,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_20_2_txf2002_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{798,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{1,869},{798,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_20_2_txf2002_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{798,328}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{99,1339},{798,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_20_2_txf2002_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{798,248}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{99,1669},{798,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txf_20_2_txf2002_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{444,164}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{801,1},{444,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_20_2_txf2002_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{466,148}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{801,871},{466,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txf_20_2_txf2002_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,0}</string>
                <key>spriteSize</key>
                <string>{422,150}</string>
                <key>spriteSourceSize</key>
                <string>{800,454}</string>
                <key>textureRect</key>
                <string>{{801,447},{422,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txf_20_2.png</string>
            <key>size</key>
            <string>{966,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4357f5d67f027b7d0b1303e47c8008:ed4833bef5d25544d1fa20629820a10e:d19ca1b5dc318c1e7c21b11eff825cb1$</string>
            <key>textureFileName</key>
            <string>txf_20_2.png</string>
        </dict>
    </dict>
</plist>
