<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanlitisheng_zhanlitisheng_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,69}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{1,675},{116,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,48}</string>
                <key>spriteSize</key>
                <string>{238,91}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{320,798},{238,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{396,171}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{1,502},{396,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{398,169}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{1,331},{398,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{402,167}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{413,154},{402,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{410,177}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{410,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{406,151}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{413,1},{406,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,19}</string>
                <key>spriteSize</key>
                <string>{402,149}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{1,180},{402,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,20}</string>
                <key>spriteSize</key>
                <string>{402,147}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{405,323},{402,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,22}</string>
                <key>spriteSize</key>
                <string>{398,143}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{401,472},{398,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{382,179}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{399,617},{382,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{358,163}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{817,313},{358,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{310,153}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{821,1},{310,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,30}</string>
                <key>spriteSize</key>
                <string>{366,127}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{413,798},{366,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,23}</string>
                <key>spriteSize</key>
                <string>{338,141}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{783,673},{338,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,26}</string>
                <key>spriteSize</key>
                <string>{346,135}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{413,927},{346,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,36}</string>
                <key>spriteSize</key>
                <string>{310,115}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{52,675},{310,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{308,113}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{94,792},{308,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,35}</string>
                <key>spriteSize</key>
                <string>{308,109}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{209,792},{308,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanlitisheng_zhanlitisheng_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{276,91}</string>
                <key>spriteSourceSize</key>
                <string>{440,187}</string>
                <key>textureRect</key>
                <string>{{1,798},{276,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhanlitisheng.png</string>
            <key>size</key>
            <string>{981,1101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be4bf5bb55fc4a4d1be5c51fb093b4e:9b806730bd1a33995c4950b87ab6d998:77df31117ccc81e3f264be899d791876$</string>
            <key>textureFileName</key>
            <string>zhanlitisheng.png</string>
        </dict>
    </dict>
</plist>
