<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>提交配置表到git，构建完成后@龙五通过</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /Users/admin/code/client/work/project_wly2_lua_client

pwd

sh update_xml_lua.sh

git add src/app/static_data/dataset_debug
git commit -m &apos;update lua config&apos;
git push origin HEAD:refs/for/master
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>